.site-main-header {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    padding: 0 20px;
}
.site-main-header__container {
    width: 1600px;
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 300ms ease-out;
}
.site-main-header .site-main-header__container.sticky-header {
    width: 1054px;
    z-index: 99999;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 40px;
    transition: all 300ms ease-out;
}

@media(max-width: 1024px) {
    .site-main-header .main-menu,
    .site-main-header .start-project-btn-wrarpper {
        display: none;
    }
}

/* 
// Header logo design
----------------------------*/
.site-main-header .header-logo {
    font-size: 36px;
    font-weight: 700;
    color: #202020;
    letter-spacing: -1px;
    text-decoration: none;
}
.site-main-header__container.sticky-header .header-logo {
    font-size: 28px;
    margin-left: 10px;
}
@media(max-width: 1024px) {
   .site-main-header .main-menu,
    .site-main-header .start-project-btn-wrarpper {
        display: none;
    }
    .site-main-header .header-logo {
        font-size: 32px;
    }
}

/* --- Header logo design:end --- */

/* 
// Main menu design
----------------------------*/
.main-menu {
    display: flex;
    gap: 40px;
}

@media(max-width: 1199px) {
    .main-menu {
        gap: 20px;
    }
}

a.main-menu__link,
a.main-menu__link:active,
a.main-menu__link:focus,
a.main-menu__link:visited {
    font-size: 20px;
    font-weight: 500;
    color: #202020;
    outline: none;
    text-decoration: none;
}
a.main-menu__link:hover {
    font-size: 20px;
    font-weight: 500;
    color: #7CE3AC;
}

/* Main menu responsive button design */

.main-menu__responsive-btn {
    display: none;
}
@media(max-width: 1024px) {
    .main-menu__responsive-btn {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 5px;
    }
    .main-menu__responsive-btn span {
        height: 2px;
        width: 25px;
        background-color: #202020;
    }
}



/* --- Main menu design:end --- */



.button.start-project-btn {
    width: auto;
}
.main {
    margin-top: 180px;
}



.main-menu-responsive {
    position: fixed;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    padding: 40px;
    z-index: 999999;
    background-color: #fff;
    transition: all 300ms ease-out;
}
aside.main-menu-responsive.active {
    left: 0;
}
.main-menu-responsive__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-menu-responsive__logo {
    font-size: 32px;
    font-weight: 700;
    color: #202020;
    letter-spacing: -1px;
    text-decoration: none;
}

.main-menu-responsive__close-btn {
    padding: 5px;
    position: relative;
    width: 30px;
    height: 30px;
}

.main-menu-responsive__close-btn span {
    width: calc(100% - 10px);
    height: 2px;
    background-color: #222;
    position: absolute;
    top: 50%;
}

.main-menu-responsive__close-btn span:first-child {
    transform: rotate(45deg);
}

.main-menu-responsive__close-btn span:last-child {
    transform: rotate(-45deg);
}

main-menu-responsive .main-menu {
    flex-direction: column;
}

.main-menu-responsive .main-menu {
    flex-direction: column;
    margin: 20px 0;
}

@media(max-width: 575px) {
    .main-menu-responsive {
        padding: 20px;
    }

    .main-menu-responsive__logo {
        font-size: 26px;
    }

    .main-menu-responsive .main-menu {
        gap: 10px;
    }

    .main-menu-responsive .main-menu__link {
        font-size: 18px;
    }
}


body.no-scroll {
  overflow: hidden;
}