
/* == HOME PAGE START == */

/*Section Hero START */
.section-hero{
    max-width: 1600px;
}

.hero{
    position: relative;
    display: flex;
}

.hero__inner{
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
}

.hero__inner-placeholder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero__placeholder-span {
    display: block;
    width: 205px;
    height: 140px;
    background-color: #f5f5f5;
    border-radius: 0;
}

.hero__placeholder-icon-wraper{
    display: flex;
    justify-content: space-between;
}

.hero__placeholder-icon {
    position: relative;
    bottom: 1px;
    width: 15px;
    height: 15px;
}

.hero__placeholder-icon--rotate{
    transform: rotate(90deg);
}

.hero__content-holder{
    position: relative;
    bottom: 55px;
}

/* review chip */
.hero__review-chip{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 281px;
    border: 1px solid #202020;
    border-radius: 50px;
    column-gap: 10px;
    padding: 12px 28px;
    margin: 0 0 5px 20px;
}
.hero__review-chip-inner{
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.hero__rating{
    font-size: 32px;
    font-weight: 500;
    line-height: 76%;
    color: #202020;
}
.hero__rating-img{
    max-width: 17px;
    max-height: 17px;
}

.hero__review-text{
    font-size: 14px;
    font-weight: 400;
    color: #202020;   
}

/* title */
.hero__title-wraper{
    max-width: 960px;
}

.hero__title{
    font-size: 76px;
    font-weight: 400;
    line-height: 120%;
    font-family: "Roboto", sans-serif;
    color: #202020;   
    padding: 0 15px 2px 0; 
    margin: 0;
}

.hero__title-span{
    padding: 0 20px 12px;
    border-radius: 0 0 25px 0;
    background-color: #f5f5f5;
}

/* button */
.hero__button-wraper{
    display: flex;
    justify-content: center;
    max-width: 180px;
    height: 65px;
    padding-bottom: 10px;
    border-radius: 0 0 25px 25px;
    background-color: #f5f5f5;
}
.hero__button {
    width: 150px;
    height: 48px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 14px 30px;
    color: #202020;
    background-color: #7CE3AC;
    border-radius: 25px;
    border: none;
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease;
}


/* Curve Icon Positioning */
.hero__curve-icon{
    width: 15px;
    height: 15px;
}
.hero__curve-icon-top-right{
    position: relative;
    bottom: 348px;
    left: 940px;
}
.hero__curver-icon-top{
    position: relative;
    bottom: 245px;
    left: 751px;
}

.hero__curve-icon-middle{
    position: relative;
    bottom: 153px;
    left: 413px;
}
.hero__curve-icon-bottom{
    position: relative;
    bottom: 62px;
    left: 123px;
}

.hero__curve-icon-bottom-1024{
    display: none;
}


.hero__image img{
    width: 100%;
    border-radius: 25px;
}

/*Section Hero End */

/*Section Logo Slider START */
.section-infinity-logo-slider {
    margin: 120px auto 0;
}

.logo-slider {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.logo-slider::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    background: linear-gradient(to left, rgba(245, 245, 245, 0.2), #f5f5f5);
    backdrop-filter: blur(5px);
    content: "";
    z-index: 2;
}

.logo-slider::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 100%;
    background: linear-gradient(to right, rgba(245, 245, 245, 0.2), #f5f5f5);
    backdrop-filter: blur(5px);
    content: "";
    z-index: 2;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.logo-slider__logos {
    display: inline-block;
    animation: 20s slide infinite linear;
}

.logo-slider__logos img {
    width: 200px;
    margin: 0 50px;
}

.logo-slider:hover .logo-slider__logos {
    animation-play-state: paused;
}

.logo-slider__logos .logos-width-60px {
    width: 60px;
}

/*Section Logo Slider End */


/*Section Faq START */
.section-faq {
    max-width: 1600px;
}

.faq__container {
    display: flex;
    justify-content: space-between;
}

/* block Left */
.faq__block-left {
    max-width: 515px;
}

.heading__wraper {
    display: flex;
    flex-direction: column;
}

.heading__title {
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.heading__sub-title-wraper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.heading__sub-title {
    font-size: 56px;
    font-weight: 400;
    color: #202020;
    margin-bottom: 20px;
}

/*Accordion*/
.accordion {
    margin: 30px 0 0;
}

.accordion__item {
    margin-bottom: 20px;
}

.accordion__question {
    display: flex;
    justify-content: space-between;
    gap: 160px;
    align-items: center;
    cursor: pointer;
    padding: 30px;
    background-color: #E7E7E7;
    border-radius: 25px;
}

.accordion__question-text {
    font-weight: 400;
    font-size: 24px;
    margin: 0;
}

.accordion__item.active .accordion__question {
    border-radius: 25px 25px 0 0;
}


.accordion__icon {
    transition: transform 0.3s ease;
}

.accordion__item.active .accordion__icon {
    transform: rotate(180deg);
}

.accordion__answer {
    display: none;
    padding: 0 30px 30px;
    background-color: #E7E7E7;
    border-radius: 0 0 25px 25px;
}

.accordion__answer-text {
    font-size: 20px;
    font-weight: 400;
}

.accordion__item.active .accordion__answer {
    display: block;
}

/*Section Faq End */


/* Section Footer Start */
.o7-section-footer {
    margin: 100px auto 0;
    max-width: 1840px;
    background-color: #202020;
    border-radius: 25px;
    margin-bottom: 40px;
}

.o7-section-footer__wrapper {
    position: relative;
}



/* Social Icon Chip Design Start */
.footer__icon-chip {
    position: absolute;
    top: 0px;
    left: 0px;
}

.footer__icon-chip-bg {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__icon-chip-bg-span-wraper {
    display: flex;
    flex-direction: column;
}

.footer__icon-chip-bg-icon {
    position: absolute;
    top: 0;
    left: 60px;
    width: 25px;
    height: 25px;
}

.footer__icon-chip-bg-span {
    display: block;
    width: 60px;
    height: 385px;
    background-color: #f5f5f5;
    border-radius: 0 0 25px 0;
}

.footer__icon-chip-bg-span-icon {
    width: 25px;
    height: 25px;
}


.footer__icon-chip-icon-wraper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: absolute;
    top: 10px;
    left: 0px;
}

.footer__icon-chip-icon-box {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    border-radius: 50px;
}

.footer__icon-chip-icon-box:hover {
    background-color: #7CE3AC;
    transition: all 300ms ease-out 0s;
}

.footer__icon-chip-icon-fb {
    width: 15px;
    height: 24px;
}

.footer__icon-chip-icon {
    width: 25px;
    height: 24px;
}

/* Social Icon Chip Design End */


/* Back-to-top Button */
.footer__button-chip {
    position: absolute;
    top: 0px;
    right: 0px;
}

.footer__button-chip-bg {
    position: relative;
    display: flex;
}

.footer__button-chip-bg-span-wraper {
    display: flex;
    flex-direction: column;
}

.footer__button-chip-bg-icon {
    width: 25px;
    height: 25px;
    transform: rotate(90deg);
}

.footer__button-chip-bg-span {
    display: block;
    width: 225px;
    height: 60px;
    background-color: #f5f5f5;
    border-radius: 0 0 0 25px;
}

.footer__button-chip-bg-span-icon {
    position: absolute;
    top: 60px;
    right: 0px;
    width: 25px;
    height: 25px;
    transform: rotate(90deg);
}


.footer__back-to-top-button {
    display: flex;
    align-items: center;
    width: 205px;
    font-size: 24px;
    font-weight: 400;
    color: #000000;
    font-family: "Roboto", sans-serif;
    position: absolute;
    top: 10px;
    right: 0px;
    border: none;
    height: 40px;
    background-color: #F5F5F5;
}

.footer__back-to-top-icon-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: 15px;
    border-radius: 50px;
    background-color: #7CE3AC;
}

.footer__back-to-top-icon-wraper .fee-icon {
    width: 20px;
}


/* Footer Menu Container */
/* logo container */
.footer__logo-container {
    display: flex;
    flex-direction: column;
}

.footer__logo-text {
    font-size: 56px;
    font-weight: 700;
    color: #F5F5F5;
    line-height: 130%;
    letter-spacing: 1px;
}

.footer__subtitle-wraper {
    max-width: 400px;
    margin: 30px 0;
}

.footer__subtitle {
    font-size: 24px;
    font-weight: 400;
    color: #F5F5F5;
    line-height: 40px;
}

/* Menu Links */

.footer__menu-container {
    display: flex;
    justify-content: space-between;
    padding: 130px 110px 0px 130px;
}

.footer__menu-links {
    max-width: 140px;
}

.footer__link-title {
    font-size: 36px;
    font-weight: 600;
    color: #F5F5F5;
    margin: 0 0 36px 0;
}

.footer__menu-links-ul {
    padding-left: 0px;
}

.footer__menu-links-ul li {
    list-style: none;
    padding: 0 0 25px 0;
    margin: 0px;
}

.footer__menu-links-ul li a {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.4px;
    font-family: "Roboto", sans-serif;
    text-align: left;
    color: #f5f5f5;
    text-decoration: none;
}

.footer__menu-links-ul li .region {
    line-height: 30px;
}

.footer__address {
    display: flex;
    column-gap: 25px;
}

.footer__address-icon {
    width: 30px;
    height: 30px;
}

/* Footer copyright Container */
.footer__copyright-container {
    display: flex;
    justify-content: space-between;
    padding: 100px 110px 60px 130px;
}

.footer__copyright {
    display: flex;
    align-items: center;
}

.footer__copyright-text {
    font-size: 16px;
    font-style: italic;
    font-family: "Roboto", sans-serif;
    color: #f5f5f5;
    margin: 0;
}

.footer__copyright--highlight {
    font-size: 20px;
    font-weight: 500;
    color: #7CE3AC;
    margin-right: 10px;
}



.footer__policy-pages-link {
    display: flex;
    gap: 100px;
    margin: 0;
    padding: 0;
}

.footer__policy-pages-link li {
    list-style: none;
    margin: 0;
}

.footer__policy-pages-link li a {
    font-size: 16px;
    font-weight: 500;
    color: #f5f5f5;
    text-decoration: none;
}

/* Section Footer End */

/* == HOME PAGE END  == */






























/* ========== Portfolio List Page Start ========== */





/* Page Banner Start */
.o7-page-banner{
    padding: 60px 40px;
    border-radius: 25px;
    background-color: #E7E7E7;
}

.o7-page-banner__heading {
    display: flex;
    flex-direction: column;
    margin: 0 0 50px 0;
}
.o7-page-banner__title {
    display: flex; 
    align-items: center;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}

.o7-page-banner__decorative-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #7CE3AC;
    border-radius: 50%;
    margin: 0 10px 0 0;
}

.o7-page-banner__sub-title {
    font-size: 56px;
    font-weight: 400;
    margin: 0;
}

.o7-page-banner__image img{
    width: 100%;
    border-radius: 25px;
}
.o7-page-banner__image-wrapper{
    position: relative;

}
.o7-page-banner__image-overlay{
    position: absolute; 
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    opacity:1;
    border-radius: 25px;
}


/* Responsive Design */
@media (max-width: 1400px){
    .o7-page-banner__sub-title {
        font-size: 42px;
    }
}

@media (max-width: 1200px){
    .o7-page-banner__sub-title {
        font-size: 38px;
    }
}

@media (max-width: 1024px){
    .o7-page-banner {
        padding: 30px 30px;
        border-radius: 16px;
    }
    .o7-page-banner__heading {
        margin: 0 0 20px 0;
    }
    .o7-page-banner__title {
        font-size: 20px;
    }
    .o7-page-banner__sub-title {
        font-size: 36px;
    }
    .o7-page-banner__image img{
        border-radius: 16px;
    }
    .o7-page-banner__image-overlay{
        border-radius: 16px;
    }
}

@media (max-width: 767px){
    .o7-page-banner {
        padding: 20px 20px;
    }
    .o7-page-banner__title {
        font-size: 16px;
    }
    .o7-page-banner__sub-title {
        font-size: 24px;
    }
}

@media (max-width: 576px){
    .o7-page-banner {
        padding: 15px 15px;
    }
}
/* Page Banner End */





/* List Page Filter Start */
.o7-list-page-filter{
    display: flex;
    flex-direction: column;
}

.o7-list-page-filter__list-wrapper {
  max-width: 1400px;
  margin: 0 auto;
}
.o7-list-page-filter__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;             
  justify-content: center;
  align-items: center;
}

.o7-list-page-filter__filter-item {
  font-size: 32px;
  font-weight: 400;
  padding: 6px 20px;
  border: 1px solid #E7E7E7;
  border-radius: 100px;
  cursor: pointer;
}

.o7-list-page-filter__filter-item:hover {
  background-color: #E7E7E7;
}



/* Responsive Design */

@media (max-width: 1024px){
    .o7-list-page-filter__filter-item {
        font-size: 28px;
    }
}

@media (max-width: 992px){
    .o7-list-page-filter__filter-item {
      font-size: 24px;
    }
}

@media (max-width: 767px){
    .o7-list-page-filter__list {
        gap: 12px;
        padding: 0 12px; 
    }

    .o7-list-page-filter__filter-item {
        font-size: 20px;
        padding: 5px 15px;
    }
}
/* List Page Filter End */







/* Filter Data List Start */
.o7-list-page-filter__data-list {
    display: flex;
    gap: 40px;
    margin: 80px auto 0;
}

.o7-list-page-filter__column-left {
    display: flex;
    flex-direction: column;
    gap: 150px;
    max-width: 50%;
}

.o7-list-page-filter__column-right {
    display: flex;
    flex-direction: column;
    gap: 150px;
    max-width: 50%;
    margin-top: 220px;
}

.o7-list-page-filter__card a{
    text-decoration: none;
    color: #202020;
}
.o7-list-page-filter__card a:hover{
    text-decoration: none;
}

.o7-list-page-filter__card-image-wrapper{
    position: relative;
    overflow: hidden;
   
}

.o7-list-page-filter__card-image-wrapper img{
    width: 100%;
    border-radius: 25px; 
}


.o7-list-page-filter__card-title-wrapper{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 36px 10px 0px 10px;
}

.o7-list-page-filter__card-category-wrapper{
    display: flex;
    align-items: center;
    gap: 15px;
}

.o7-list-page-filter__card-catagory-title{
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

.o7-list-page-filter__card-decorative-dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #7CE3AC;
    border-radius: 50%;   
}

.o7-list-page-filter__card-tagline{
    font-size: 32px;
    font-weight: 500;  
}



/* Responsive Design */
@media (max-width: 1200px){
    .o7-list-page-filter__data-list {
        gap: 20px;
    }
    .o7-list-page-filter__card-image-wrapper {
        border-radius: 16px;
    }
    .o7-list-page-filter__card__title-wrapper {
        gap: 5px;
        margin: 20px 10px 0px 10px;
    }

    .o7-list-page-filter__card__catagory-title {
        font-size: 16px;
    }
    .o7-list-page-filter__card-tagline {
        font-size: 24px;
    }
}

@media (max-width: 1024px){
    .o7-list-page-filter__data-list {
        margin: 40px auto 0;
    }
    .o7-list-page-filter__column-left {
        gap: 80px;
    }
    .o7-list-page-filter__column-right {
        gap: 80px;
        margin-top: 160px;
    }
    .o7-list-page-filter__card-catagory-title{
        font-size: 16px;
    }
}

@media (max-width: 767px){
    .o7-list-page-filter__data-list {
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
    .o7-list-page-filter__column-left {
        gap: 60px;
        max-width: 100%;
    }
    .o7-list-page-filter__column-right {
        gap: 60px;
        margin: 0;
        max-width: 100%;
    }
    .o7-list-page-filter__card-catagory-title {
        font-size: 14px;
    }
    .o7-list-page-filter__card-tagline {
        font-size: 20px;
    }
}

@media (max-width: 576px){
    .o7-list-page-filter__data-list {
        gap: 50px;
    }
    .o7-list-page-filter__column-left {
        gap: 50px;
    }
    .o7-list-page-filter__column-right {
        gap: 50px;
        margin: 0;
    }
}

/* Filter Data List End */



/* Hover Chip Design Start */
/* need to do position:relative and overflow:hidden in parent div  */
.o7-hover-chip {
    position: absolute;
    top: -38px;
    right: 0px;
    transition: all 0.4s ease;
}

.o7-hover-chip__bg {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.o7-hover-chip__icon {
    width: 15px;
    height: 15px;
}

.o7-hover-chip__bg-span {
    display: block;
    width: 320px;
    height: 38px;
    background-color: #f5f5f5;
    border-radius: 0 0 0 25px;
}

.o7-hover-chip__bg-span-icon {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0;
}


.o7-hover-chip__inner {
    display: flex;
    gap: 12px;
    position: absolute;
    top: 0px;
    right: 4px;
}


.o7-hover-chip__buton {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    background-color: #E7E7E7;
    padding: 5px 15px;
    border-radius: 25px;
}

.o7-hover-chip__buton--hidden-pc {
    display: none;
}

.o7-list-page-filter__card:hover .o7-hover-chip {
    top: 0px;
    right: 0px;
}


/* Responsive Design */
@media (max-width: 1200px){
    .o7-hover-chip {
        top: 0px;
    }
}

@media (max-width: 992px){
    .o7-hover-chip__bg-span {
        width: 245px;
    }
    .o7-hover-chip__buton--hidden-mobile {
        display: none;
    }
    .o7-hover-chip__buton--hidden-pc {
        display: block;
    }
}

@media (max-width: 767px){
    .o7-hover-chip__bg-span {
        width: 320px;
    }
    .o7-hover-chip__buton--hidden-mobile {
        display: block;
    }
    .o7-hover-chip__buton--hidden-pc {
        display: none;
    }
}

@media (max-width: 576px){
    .o7-hover-chip__bg-span {
        width: 245px;
    }
    .o7-hover-chip__buton--hidden-mobile {
        display: none;
    }
    .o7-hover-chip__buton--hidden-pc {
        display: block;
    }
}

/* Hover Chip Design End */





/* Hover icon Design Start */
/* need to do position:relative and overflow:hidden in parent div  */
.o7-hover-icon {
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: all 0.4s ease;
}

.o7-hover-icon__bg {
    position: relative;
    display: flex;
    flex-direction: column;
}

.o7-hover-icon__icon {
    width: 25px;
    height: 25px;
}

.o7-hover-icon__bg-span {
    display: block;
    width: 90px;
    height: 90px;
    background-color: #f5f5f5;
    border-radius: 0 25px 0 0;
}

.o7-hover-icon__bg-span-wrapper{
    display: flex;
}

.o7-hover-icon__bg-span-icon {
    width: 25px;
    height: 25px;
    position: relative;
    top: 65px;
}


.o7-hover-icon__inner img {
    width: 80px;
    height: 80px;
    border-radius: 25px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}


/* Responsive Design */
@media (max-width: 1200px){
    .o7-hover-icon {
        bottom: 0px;
        left: 0px;
    }
    .o7-hover-icon__bg-span {
        width: 70px;
        height: 70px;
        border-radius: 0 16px 0 0;
    }
    .o7-hover-icon__bg-span-icon {
        top: 45px;
    }
    .o7-hover-icon__inner img {
        width: 60px;
        height: 60px;
        border-radius: 16px;
    }
}

@media (max-width: 992px){
    .o7-hover-icon {
        bottom: 0px;
        left: 0px;
    }
    .o7-hover-icon__bg-span {
        width: 55px;
        height: 55px;
        border-radius: 0 16px 0 0;
    }
    .o7-hover-icon__bg-span-icon {
        top: 30px;
    }
    .o7-hover-icon__inner img {
        width: 45px;
        height: 45px;
        border-radius: 16px;
    }
}
/* Hover icon Design End */


/* ========== Portfolio List Page End ========== */























/* ========== Case Study List Page Start ========== */
/* Hover icon design for case-study page */
.o7-hover-icon--case-study .o7-hover-icon__bg{
    display: none;
}
.o7-hover-icon--case-study{
    position: absolute;
    top: 0px;
    left: 0px;
}
.o7-hover-icon__inner--case-study img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: absolute;
    top: 30px;
    left: 30px;
}


/* Responsive Design */
@media (max-width: 1200px){
    .o7-hover-icon__inner--case-study img {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 1024px){
    .o7-hover-icon__inner--case-study img {
        top: 20px;
        left: 20px;
    } 
}

@media (max-width: 992px){
    .o7-hover-icon__inner--case-study img {
        width: 45px;
        height: 45px;
    }
}

/* Hover icon design for case-study page */
/* ========== Case Study List Page End ========== */



















/* ========== Blog List Page Start ========== */
/* Filter Data List Start */
.o7-list-page-filter__card-catagory-title--blog-list{
    display: none;
}

.post-excerpt{
    font-size: 20px;
    font-weight: 400;
}
/* Filter Data List End */


/* Hover chip design for blog-list page */
.o7-hover-chip--blog-list{
    display: none;
}
/* Hover chip design for blog-list page */


/* Hover icon design for blog-list page */
.o7-hover-icon--blog-list{
    position: absolute;
    bottom: -90px;
    left: -90px;    
}
.o7-list-page-filter__card:hover .o7-hover-icon--blog-list{
    bottom: 0px;
    left: 0px;    
}

@media (max-width: 1200px){
    .o7-hover-icon--blog-list{
        bottom: 0px;
        left: 0px;    
    } 
}
@media (max-width: 1024px){
    .o7-list-page-filter__card-image-wrapper img {
        border-radius: 16px;
    }
}
/* Hover icon design for blog-list page */
/* ========== Blog List Page End ========== */




















/* ========== Portfolio Details Page Start ========== */
/* Page Banner Start */
.o7-details-page-banner__image img{
    width: 100%;
    border-radius: 25px;
}


/* Responsive Design */
@media (max-width: 1024px){
.o7-details-page-banner__image img{
    width: 100%;
    border-radius: 16px;
}
}
/* Page Banner End */





/* sidebar Start */
.o7-details-page-sidebar{
    min-width: 180px;
    display: flex;
    flex-direction: column;
    margin: 260px 0 0;
}

.o7-details-page-sidebar__inner{
    display: flex;
    flex-direction: column;    
}

.o7-details-page-sidebar__item-wrapper{
    margin: 0 0 50px;
}

.o7-details-page-sidebar__title{
    font-size: 24px;
    font-weight: 400; 
    margin: 0 0 15px;  
}
.o7-details-page-sidebar__item{
    font-size: 20px;
    font-weight: 600; 
    margin: 0 0 5px;    
}



/* Responsive design */
@media (max-width: 1400px){
    .o7-details-page-sidebar {
        margin: 200px 0 0;
    }    
}
@media (max-width: 1200px){
    .o7-details-page-sidebar{
        margin: 170px 0 0;
    }
    .o7-details-page-sidebar__title{
        font-size: 20px;
    }
    .o7-details-page-sidebar__item{
        font-size: 16px;
    }
}

@media (max-width: 1024px){
    .o7-details-page-sidebar{
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
    }

    .o7-details-page-sidebar__inner{
        display: flex;
        flex-direction: row;  
        justify-content: space-between;  
        gap: 20px;
        width: 42%;
    }

    .o7-details-page-sidebar__item-wrapper {
        margin: 0;
    }
    .btn{
        align-self: center;
    }
}
@media (max-width: 767px){
    .o7-details-page-sidebar{
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
    }
    .o7-details-page-sidebar__inner{
        width: 100%;
        justify-content: space-around;
    }
}
@media (max-width: 576px){
    .o7-details-page-sidebar__inner{
        width: 100%;
        justify-content: space-between;
    }
}
/* sidebar End */





/* Details Page post Start */
.o7-details-page-post-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.o7-details-page-post{
    max-width: 1200px;
    flex-grow: 0;
}

.o7-details-page-post__title{
    font-size: 76px;
    font-weight: 400;
    margin: 0 0 60px;
}

.o7-details-page-post__sub-title{
    font-size: 56px;
    font-weight: 400;
    margin: 0 0 40px;
}



.o7-details-page-post__image img{
    width: 100%;
    border-radius: 25px;
    margin: 0 0 50px;
}


.o7-details-page-post__details-wrapper{
    margin: 50px 0 100px;
}


.o7-details-page-post__details{
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

.o7-details-page-post__details--margin-top{
    margin: 50px 0 0;
}


.o7-details-page-post__details-gap{
    display: block;
    margin-top: 25px;
}


/* Responsive Design */
@media (max-width: 1400px){
    .o7-details-page-post-wrapper{
        gap: 70px;
    }
    .o7-details-page-post__title{
        font-size: 66px;
        margin: 0 0 50px;
    }
    .o7-details-page-post__sub-title{
        font-size: 42px;
        margin: 0 0 20px;
    }
}

@media (max-width: 1200px){

    .o7-details-page-post__title{
        font-size: 56px;
        margin: 0 0 40px;
    }
    .o7-details-page-post__sub-title{
        font-size: 38px;
    }

    .o7-details-page-post__image img{
        width: 100%;
        margin: 0 0 20px;
    }
    .o7-details-page-post__details-wrapper{
        margin: 20px 0 40px;
    }

    .o7-details-page-post__details--margin-top{
        margin: 20px 0 0;
    }
}

@media (max-width: 1024px){
    .o7-details-page-post-wrapper{
        display: flex;
        flex-direction: column;
    }
    .o7-details-page-post__title{
        font-size: 48px;
        margin: 0 0 20px;
    }
    .o7-details-page-post__sub-title{
        font-size: 36px;
    }
    .o7-details-page-post__image img{
        border-radius: 16px;
    }
}

@media (max-width: 767px){
    .o7-details-page-post__title{
        font-size: 40px;
    }
    .o7-details-page-post__sub-title{
        font-size: 24px;
    }
}

/* Details Page post End */





/* Details Page explore more Start */
.o7-details-explore-more__title{
    text-align: center;
    font-size: 56px;
    font-weight: 400;
    margin: 0 0 60px;
}

.o7-details-explore-more__card a{
    text-decoration: none;
    color: #202020;    
}
.o7-details-explore-more__card-wrapper{
    display: flex;
    gap: 40px;
}
.o7-details-explore-more__card-image-wrapper img{
    border-radius: 25px;
    width: 100%;
}

.o7-details-explore-more__card-image-wrapper{
    position: relative;
    overflow: hidden;
}
.o7-details-explore-more__card-hover-chip svg{
    width: 60px;
    height: 60px;
    position: absolute;
    top: -60px;
    right: -60px;
    transition: all 0.4s ease;
}

.o7-details-explore-more__card:hover .o7-details-explore-more__card-hover-chip svg{
    top: 30px;
    right: 30px;
}

.o7-details-explore-more__card-title-wrapper{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 36px 10px 0;
}
.o7-details-explore-more__card-category-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}
.o7-details-explore-more__card-decorative-dot{
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: #7CE3AC;
}

.o7-details-explore-more__card-catagory-title{
    font-size: 20px;
    font-weight: 400;
    margin: 0;    
}
.o7-details-explore-more__card-tagline{
    font-size: 32px;
    font-weight: 500;
    margin: 0;    
}




/* Responsive Design */
@media (max-width: 1400px){
    .o7-details-explore-more__title{
        font-size: 42px;
    }
}

@media (max-width: 1200px){
    .o7-details-explore-more__title{
        font-size: 38px;
    }
    .o7-details-explore-more__card-tagline{
        font-size: 24px;   
    }
}

@media (max-width: 1024px){
    .o7-details-explore-more__title{
        font-size: 36px;
        margin: 0 0 40px;
    }
    .o7-details-explore-more__card-wrapper{
        display: flex;
        gap: 20px;
    }
    .o7-details-explore-more__card-image-wrapper img{
        border-radius: 16px;
    }

    .o7-details-explore-more__card-catagory-title{
        font-size: 16px;   
    }

    .o7-details-explore-more__card-title-wrapper {
        gap: 10px;
        margin: 20px 10px 0;
    }
}

@media (max-width: 767px){
    .o7-details-explore-more__title{
        font-size: 24px;
    }

    .o7-details-explore-more__card-wrapper{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .o7-details-explore-more__card-tagline{
        font-size: 20px;   
    }
    .o7-details-explore-more__card-catagory-title{
        font-size: 14px;   
    }
}

@media (max-width: 576px){
    .o7-details-explore-more__title{
        margin: 0 0 30px;
    }
}

/* Details Page explore more End */

/* ========== Portfolio Details Page End ========== */












/* ========== Case Study Details Page Start ========== */
.o7-details-page-post__description{
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 50px;
}

.o7-details-page-post__key-point-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px 0 80px;
}

.o7-details-page-post__key-point-wrapper--margin-bottom-none{
    margin-bottom: 0;
}

.o7-details-page-post__key-point-title{
    font-size:32px;
    font-weight: 500;
    margin: 0;
}
.o7-details-page-post__key-point{
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

.o7-details-page-post__key-point--list{
    line-height: 170%;
}
.semi-bold{
    font-weight: 600;
}
/* ========== Case Study Details Page End ========== */
















/* ========== Blog Post Page Start ========== */
/* Blog Post Start */
.o7-blog-post{
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}
.o7-blog-post__title{
    font-size: 56px;
    font-weight: 500;
    margin: 0;
}
.o7-blog-post__platfrom-wrapper{
    display: flex;
    gap: 30px;
    margin: 30px 0;   
}
.o7-blog-post__platfrom{
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}
.o7-blog-post__author-name-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 0 30px;   
}

.o7-blog-post__author-name{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}
.o7-blog-post__date{
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    color: #606060;
}
.o7-blog-post__banner-image img{
    width: 100%;
    border-radius: 25px;
    margin: 0 0 30px;
}
.o7-blog-post__description{
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}
.o7-blog-post__description-gap{
    display: block;
    margin-top: 25px;
}
.o7-blog-post__key-point-wrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 60px 0 0;
}
.o7-blog-post__key-point-title{
    font-size: 32px;
    font-weight: 500;
    margin: 0;
}
.o7-blog-post__key-point{
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}
.o7-blog-post__image img{
    width: 70%;
    border-radius: 25px;
}



/* Responsive Design */
@media (max-width: 1400px){
    .o7-blog-post__title{
        font-size: 42px;
    }
}

@media (max-width: 1200px){
    .o7-blog-post__title{
        font-size: 38px;
    }
}

@media (max-width: 1024px){
    .o7-blog-post__title{
        font-size: 36px;
    }
    .o7-blog-post__platfrom-wrapper{
        margin: 20px 0;   
    }
    .o7-blog-post__platfrom{
        font-size: 20px;
    }
    .o7-blog-post__author-name{
        font-size: 16px;
    }
    .o7-blog-post__date{
        font-size: 14px;
    }
    .o7-blog-post__banner-image img {
        width: 100%;
        border-radius: 16px;
    }

    .o7-blog-post__image img {
        width: 100%;
        border-radius: 16px;
    }
    .o7-blog-post__key-point-title {
        font-size: 28px;
    }
}
/* Blog Post End */





/* Blog Comment Start */
.o7-blog-post__comment-section {
    max-width: 730px;
    margin: 120px auto 0;
}
.o7-blog-post__comment-heading {
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    margin: 0 0 50px 0;
}

/* Input Box */
.o7-blog-post__comment-input-box {
    display: flex;
    gap: 20px;
    align-items: center;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}
.o7-blog-post__comment-input-box input {
    flex: 1;
    border: none;
    border-radius: 8px;
    outline: none;
    padding: 8px;
    font-size: 16px;
    font-weight: 300;
    background-color: #F5F5F5;
}
/* Comment Card */
.o7-blog-post__comment-card {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.08);
}
.o7-blog-post__comment-avatar-wrapper{
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 0 0 20px 0;
}
.o7-blog-post__comment-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin: 0;
}
.o7-blog-post__comment-avatar img {
    width: 100%;
    height: 100%;
}
.o7-blog-post__comment-author {
    font-size: 20px;
    font-weight: 500;
    margin: 0px;
}
.o7-blog-post__comment-text {
    background: #F5F5F5;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    color: #787878;
}



/* Responsive Design */
@media (max-width: 767px){
    .o7-blog-post__comment-input-box {
        padding: 10px 10px;
    }
}
/* Blog Comment End */





/* ========== Blog Post Page End ========== */



