/*============== Home page START ==============*/

/* footer Start */
.site-wrapper {
    padding-left: 20px;
    padding-right: 20px;
}

.footer-section {
    max-width: 1840px;
    background-color: #202020;
    border-radius: 25px;
    padding: 130px 120px 60px 120px;
    margin: 120px auto 40px auto;
}

.footer-wrapper {
    max-width: 1840px;
    margin: 0 auto;
}

.footer-all-details-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 60px;
}

.footer-logo-header,
.list-header-wrapper {
    padding: 0;
}

.footer-logo {
    font-size: clamp(32px, 6vw, 50px);
    font-weight: 700;
    line-height: normal;
    color: #F5F5F5;
    margin: 0;
}

.footer-paragraph {
    max-width: 362px;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    color: #E7E7E7;
    margin: 30px 0 0 0;
}

.content-veiw-btn.footer-btn {
    width: 181px;
    padding: 21px 36px;
    border-radius: 34px;
    justify-content: space-evenly;
    line-height: 20px;
    text-decoration: none;
    margin-top: 30px;
}

.list-header {
    font-size: 32px;
    font-weight: 600;
    color: #F5F5F5;
    margin: 0;
}

/* lern part */

.list-header {
    font-size: 32px;
    font-weight: 600;
    color: #F5F5F5;
    margin: 0;
}

.list-header-wrapper ul {
    list-style: none;
    padding: 0;
    text-decoration: none;
    margin: 0;
}

.list-header-wrapper a {
    font-size: 25px;
    font-weight: 300;
    line-height: normal;
    color: #F5F5F5;
    text-decoration: none;
}

.list-header-wrapper ul li {
    font-size: 25px;
    font-weight: 300;
    line-height: normal;
    color: #F5F5F5;
    margin-top: 25px;
}

.address-details-container {
    display: flex;
    align-items: start;
    gap: 25px;
}

.address-details-container img {
    width: 30px;
    object-fit: contain;
    flex-shrink: 0;
}

.addresses {
    max-width: 240px;
}

/* footer bottom copyright  section */

.copyright-othor-wrapper {
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    gap: 40px;
}

.hilight-color {
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    color: #7CE3AC;
    margin-right: 10px;
}

.copyright-para i {
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: #F5F5F5;
}

.footer-page-ending-link {
    max-width: 540px;
    display: flex;
    justify-content: space-between;
    gap: 99px;
    row-gap: 15px;
}

.footer-page-ending-link a {
    font-size: 16px;
    font-weight: 500;
    color: #F5F5F5;
    letter-spacing: 1px;
}

/* footer End */

/*============== Home page END ==============*/


/*============== service page START ==============*/

.gray-background {
    background-color: #F5F5F5;
    padding: clamp(15px, 2vw, 50px);
}

.hero-title-wrap {
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    padding: 60px 40px 40px;
    margin: 0 auto;
}

.o7-section-banner {
    max-width: 1600px;
    background-color: #E7E7E7;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
}

.hero-title {
    font-size: clamp(32px, 3vw, 55px);
    font-weight: 400;
    line-height: normal;
    color: #202020;
    margin-bottom: 0;
    transition: all 0.3s ease;
}

.hero-banner {
    width: 100%;
    margin-top: 50px;
    border-radius: 25px;
}

/* section card desing */

.container-section-white-bg {
    max-width: 1600px;
    width: 100%;
    padding: clamp(15px, 3vw, 70px);
    margin: 120px auto 0 auto;
    background-color: #FFFFFF;
    border-radius: 25px;
}

.cotainer-header {
    font-size: clamp(32px, 6.25vw, 120px);
    font-weight: 400;
    line-height: normal;
    color: #202020;
}

.container-list-and-image {
    display: flex;
    justify-content: space-between;
    gap: 120px;
}

/* image  */

.container-image-wrap {
    max-width: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.container-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    transition: all 0.3s ease-in-out;
}

/* list style  */

.container-list-wrapper {
    max-width: 690px;
    width: 100%;
    list-style: none;
    padding: 0;
}

.container-list {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #E7E7E7;
    list-style: none;
    padding: 20px 0;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.container-list a {
    font-size: clamp(14px, 2.3vw, 30px);
    font-weight: 500;
    color: #202020;
    opacity: 0.7;
    text-decoration: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
    margin-left: 0;
}

/* Left icon */
.service-cart-image-wrapper {
    position: absolute;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    width: 20px;
}

/* Right icon */
.service-cart-arrow-icon-wrapper {
    position: absolute;
    right: 25px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    width: 20px;
}

/* Show icons and move text on hover */
.container-list:hover .service-cart-image-wrapper,
.container-list:hover .service-cart-arrow-icon-wrapper {
    opacity: 1;
    visibility: visible;
}

/* Move text to make space for icon + gap */
.container-list:hover a {
    transform: translateX(80px);
    opacity: 1;
}

.container-image-wrap .container-title {
    max-width: 650px;
    font-size: clamp(16px, 1.36vw, 26px);
    font-weight: 400;
    margin-top: 30px;
    line-height: normal;
}

/* black background */

.container-list-and-image.black-bg {
    flex-direction: row-reverse;
    margin-top: 30px;
}

.container-list.black-bg a {
    color: #F5F5F5;
    opacity: 0.7;
}

.container-list.black-bg:hover a {
    color: #F5F5F5;
    opacity: 1;
}

.cotainer-header.black-bg {
    color: #F5F5F5;
}

.container-section-white-bg.black-bg {
    background-color: #202020;
}

.container-list-and-image.black-bg .container-title {
    color: #F5F5F5;
}

/*============== service page END ==============*/





/* ============== Portfolio List Page START ============== */

.filter-container {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.filter-list {
    font-size: 32px;
    font-weight: 400;
    padding: 6px 20px;
    border: 1px solid #E7E7E7;
    border-radius: 32px;
    cursor: pointer;
}

.filter-list:hover {
    background-color: #E7E7E7;

}

.filter-list:active {
    background-color: #E7E7E7;
}

.filter-wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

/* ============== Portfolio List Page END ============== */


/* ============== Portfolio Details START ============== */


.page-heading {
    font-size: max(32px, min(6vw, 76px));
    font-weight: 400;
}

.banner-image {
    max-width: 1600px;
    width: 100%;
    margin: 20px auto 0 auto;
}

.banner-wrapper {
    margin-top: 80px;
}

.details-image {
    max-width: 1200px;
    width: 100%;
}

.details-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.aside-btn {
    margin-left: 0;
    width: 80%;
}

.aside-section {
    max-width: 180px;
    width: 100%;
}

.aside-wrapper {
    display: flex;
    margin-top: 130px;
    flex-direction: column;
    gap: 50px;
}

.aside-option-header {
    font-size: 24px;
    font-weight: 400;
    color: #000000;
}

.aside-para {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

.aside-option-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.aside-para-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.all-details-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.details-para {
    max-width: 1200px;
    font-size: 20px;
    font-weight: 400;
    color: #202020;
}

.explore-more-content-header {
    justify-content: center;
}

/* ============== Portfolio Details END ============== */
