/* Base styles already defined above */

/* 1400px and below */
@media (max-width: 1400px) {

    /* ========service card start======== */

    .mini-title-and-header-wrap {
        max-width: 1300px;
        margin: 0 auto;
    }

    .content-header {
        max-width: 56rem;
        font-size: 3rem;
    }

    .content-card-wrapper {
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
    }

    /* ========service card end======== */

    /* ========testimonial START======== */

    .testimonial-client-img {
        width: 25%;
    }

    /* ========testimonial END======== */

    /* blog section START */

    .blog-content-wrapper {
        flex-wrap: nowrap;
    }

    /* blog section END */

    /* ========footer START======== */

    .footer-section {
        max-width: 1200px;
        padding: 130px 100px 60px 100px;
    }

    .site-wrapper {
        padding-left: 50px;
        padding-right: 50px;
    }


    .footer-logo-header {
        flex: 1 1 45%;
        order: 1;
    }

    .list-address-wrapper {
        flex: 1 1 45%;
        order: 2;
    }

    .list-learn-wrapper {
        flex: 1 1 45%;
        order: 3;
    }

    .list-explore-wrapper {
        flex: 1 1 45%;
        order: 4;
    }

    .copyright-othor-wrapper {
        flex-direction: column-reverse;
        align-items: center;
    }

    /* ========footer END======== */


    /* ================Service Page START================ */
    .gray-background {
        padding: 0 50px;
    }

    .container-list-and-image {
        gap: 100px;
    }

    .cotainer-header {
        font-size: 80px;
    }

    .container-list a {
        font-size: 24px;
    }

    /* ================Service Page END================ */

}

/* 1200px and below */
@media (max-width: 1200px) {

    /* ========service card start======== */

    .mini-title-and-header-wrap {
        max-width: 1024px;
    }

    .content-header {
        max-width: 46.6rem;
        font-size: 2.1rem;
    }

    .content-card-wrapper {
        max-width: 1024px;
    }

    /* ========service card end======== */

    /* testimonial START  */

    .testimonial-client-img {
        width: 25%;
    }

    .testimonial-card-container-wrapper {
        column-gap: 10px;
        row-gap: 50px;
    }

    /* testimonial END  */

    /* case study START */

    .mini-italic-title.semi-bold-mini-title.case-study-mini-title {
        font-size: 17px;
    }

    /* case study END */

    /* ================Service Page START================ */


    .hero-title {
        font-size: 44px;
    }

    .container-list-and-image {
        gap: 60px;
    }

    .container-list a {
        font-size: 22px;
    }

    .container-section-white-bg {
        padding: 50px;
    }

    /* ================Service Page END================ */
}

/* 992px and below */
@media (max-width: 992px) {

    /* ========service card start======== */

    .mini-title-and-header-wrap {
        max-width: 890px;
    }

    .mini-title {
        font-size: 22px;
    }

    .content-header {
        max-width: 32.6rem;
        font-size: 2.5rem;
    }

    .content-card-wrapper {
        max-width: 890px;
    }

    .mini-italic-title {
        margin: 24px 0 0 10px;
        font-size: 22px;
    }

    .content-card-header {
        max-width: 385px;
        font-size: 24px;
    }

    /* ========service card end======== */

    /* ================testimonial START================ */
    .section {
        padding-left: 40px;
        padding-right: 40px;
    }

    .testimonial-wrapper {
        padding: 40px;
    }

    .testimonial-card-container-wrapper {
        row-gap: 50px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .testimonial-card-container {
        max-width: 450px;
        padding: 30px;
    }

    .mini-title-and-header-wrap.testimonial-header-wrap {
        align-items: center;
        margin-left: 0;
    }

    .content-header.testimonial-content-header {
        max-width: 34.6rem;
    }

    /* ================testimonial END================ */

    /* case study START */

    .mini-title-wrapper {
        margin-top: 36px;
        gap: 10px;
    }

    .mini-italic-title.semi-bold-mini-title.case-study-mini-title {
        font-size: 16px;
        margin-top: 0;
    }

    /* case study END */

    /* blog section START */

    .service-header-and-btn-wrap.blog-header-and-btn-wrap .content-header {
        max-width: 33.3rem;
    }

    .service-header-and-btn-wrap.blog-header-and-btn-wrap .content-header {
        max-width: 100%;
    }

    .content-card-wrapper.blogs-content-card-wrapper {
        flex-direction: column;
    }

    .service-header-and-btn-wrap.blog-header-and-btn-wrap {
        flex-direction: row;
    }

    /* blog section END */

    /* ================footer START================ */
    .site-wrapper {
        padding-left: 2%;
        padding-right: 2%;
    }

    .footer-all-details-container {
        justify-content: space-evenly;
    }

    /* ================footer END================ */
    /* ================Service Page START================ */


    .hero-title {
        font-size: 36px;
    }

    .container-list-and-image,
    .container-list-and-image.black-bg {
        gap: 50px;
        flex-direction: column;
    }

    .container-list-wrapper {
        text-align: left;
        align-self: flex-start;
    }

    .container-image-wrap {
        align-self: center;
        text-align: center;
    }

    .cotainer-header {
        font-size: 56px;
    }

    .container-title,
    .container-title.black-bg {
        text-align: left;
    }

    /* ================Service Page END================ */

}

/* 768px and below */
@media (max-width: 768px) {

    /* ========service card start======== */

    .mini-title-and-header-wrap {
        max-width: 665px;
    }

    .content-header {
        max-width: 20.6rem;
        font-size: 2.5rem;
    }

    .content-card-wrapper {
        max-width: 665px;
        flex-direction: column;
        gap: 100px;

    }

    .content-sub-card-wrapper-two {
        margin-top: 0;
    }

    .content-card-header {
        max-width: 100%;
        font-size: 22px;
    }

    /* ========service card end======== */

    /* case study START */

    .mini-italic-title.semi-bold-mini-title {
        font-size: 18px;
    }

    .content-card-wrapper.case-study-content-card-wrapper {
        flex-direction: column;
    }

    /* case study END */

    /* blog section START */

    .service-header-and-btn-wrap.blog-header-and-btn-wrap {
        flex-direction: row;
    }

    .service-header-and-btn-wrap.blog-header-and-btn-wrap .content-header {
        max-width: 20.3rem;
    }

    .service-header-and-btn-wrap.blog-header-and-btn-wrap {
        align-items: center;
    }

    .blog-content-wrapper {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .service-header-and-btn-wrap.blog-header-and-btn-wrap {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        gap: 0;
    }

    .service-header-and-btn-wrap.blog-header-and-btn-wrap .content-header {
        max-width: 100%;
        font-size: 1.8rem;
    }

    .content-veiw-btn.blog-veiw-btn {
        flex-shrink: 0;
        white-space: nowrap;
        
    }


    /* blog section END */
    
    /* ================footer START================ */
    
    .footer-all-details-container {
        justify-content: center;
        gap: 40px;
    }
    
    .footer-logo {
        font-size: 40px;
    }
    
    .footer-paragraph {
        max-width: 250px;
        font-size: 18px;
        margin: 20px 0 0 0;
    }
    
    .list-header {
        font-size: 24px;
    }
    
    .content-veiw-btn.footer-btn {
        margin-top: 20px;
    }
    
    .list-header-wrapper a,
    .list-header-wrapper ul li {
        font-size: 18px;
    }
    
    .footer-page-ending-link {
        justify-content: space-evenly;
    }
    
    /* ================footer END================ */
    
    /* ================Service Page START================ */
    
    .gray-background {
        padding: 0 20px;
    }
    
    .hero-title {
        font-size: 26px;
    }
    
    /* ================Service Page END================ */
}




/* 576px and below */
@media (max-width: 576px) {

    /* ========service card start======== */

    .section {
        padding-left: 15px;
        padding-right: 15px;
    }

    .service-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }

    .mini-title-and-header-wrap {
        align-items: center;
    }

    .service-header-and-btn-wrap {
        flex-direction: column;
        gap: 40px;
    }

    .content-header {
        text-align: center;
        max-width: 29.6rem;
    }

    .content-card-wrapper {
        margin-top: 100px;
    }

    .content-sub-card-wrapper-one {
        gap: 80px;
    }

    .content-sub-card-wrapper-two {
        gap: 80px;
    }

    /* ========service card end======== */

    /* ========Tetimonial START======== */

    .testimonial-wrapper {
        padding: 30px 15px;
    }

    .testimonial-card-container {
        min-width: auto;
        width: 100%;
        padding: 20px;
    }

    .testimonial-card-customer-img-and-name-wrap {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .testimonial-client-name-and-title-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    .testimonial-card-container-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }

    .testimonial-client-company-logo {
        margin-left: auto;
        margin-right: auto;
    }

    /* ========Tetimonial END======== */

    /* case study START */

    .mini-title-wrapper {
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
        margin-top: 36px;
    }

    .mini-italic-title.semi-bold-mini-title.case-study-mini-title {
        margin-top: 0;
        font-size: 18px;
    }

    /* case study END */

    /* blog section START */

    .service-header-and-btn-wrap.blog-header-and-btn-wrap {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    /* blog section END */

    /* ========footer START======== */
    .footer-logo-header,
    .list-address-wrapper,
    .list-learn-wrapper,
    .list-explore-wrapper {
        flex: 1 1 100%;
        text-align: center;
        align-items: center;
    }

    .address-details-container {
        justify-content: center;
        align-items: center;
    }

    .footer-paragraph {
        margin-left: auto;
        margin-right: auto;
    }

    .list-header-wrapper.list-address-wrapper ul {
        max-width: 300px;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        margin-left: auto;
        margin-right: auto;
    }

    .content-veiw-btn.footer-btn {
        margin-left: auto;
        margin-right: auto;
    }



    /* ========footer END======== */

    /* ================Service Page START================ */


    .mini-title {
        font-size: 20px;
    }

    .hero-title {
        font-size: 28px;
        margin-top: 20px;
    }

    .cotainer-header {
        font-size: 32px;
        font-weight: 500;
    }

    .container-list a {
        font-size: 18px;
    }

    .container-title {
        font-size: 18px;
    }


    /* ================Service Page END================ */
}