/* 1400px and below */
@media (max-width: 1400px) {

    /*section Hero Start */
.hero__title{
    font-size: 66px; 
} 
.hero__placeholder-span {
    width: 160px;
}

.hero__content-holder {
    bottom: 65px;
}

/* Curve Icon Positioning */
.hero__curve-icon-top-right{
    bottom: 302px;
    left: 822px;
}
.hero__curver-icon-top{
    bottom: 221px;
    left: 655px;
}

.hero__curve-icon-middle{
    bottom: 141px;
    left: 360px;
}

/*section Hero End */ 

    /*section Infinity logo Slider Start */
    .logo-slider::before {
        width: 20px;
    }

    .logo-slider::after {
        width: 20px;
    }

    /*section Infinity logo Slider End */

    /* blog START */

    .blog__sub--title {
        font-size: 44px;
    }

    /* blog END */

    /*Section Footer Start */
    .footer__menu-container {
        flex-wrap: wrap;
        padding: 80px 40px 0px 100px;
    }

    /*Section Footer End */

}

/* 1200px and below */
@media (max-width: 1200px) {

    /*section Hero Start */
.hero__title{
    font-size: 56px; 
} 
.hero__placeholder-span {
    width: 120px;
}

.hero__content-holder {
    bottom: 55px;
}

.hero__review-chip{
    margin: 0 0 5px 10px;
}

.hero__title-span {
    padding: 0 10px 12px;
    border-radius: 0 0 16px 0;
}

/* Curve Icon Positioning */
.hero__curve-icon-top-right{
    bottom: 276px;
    left: 683px;
}
.hero__curver-icon-top{
    bottom: 197px;
    left: 539px;
}

.hero__curve-icon-middle{
    bottom: 129px;
    left: 285px;
}

.hero__button-wraper{
    border-radius: 0 0 16px 16px;
}

/*section Hero End */  

    /* Portfolio START */

    .sub__title {
        font-size: 42px;
    }

    /* Portfolio END */

    /* ========service card start======== */


    .mini__title {
        font-size: 16px;
    }

    /* Hover Chip Responsive style Start */
    .hover-chip {
        top: 0px;
    }

    /* Hover Chip Responsive style End */
    /* ========service card end======== */

    /* case study START  */


    .circle {
        width: 50px;
        height: 50px;
        top: 30px;
        right: 30px;
    }

    .circle__arrow {
        width: 22px;
        height: 20px;
    }

    .mini-title-wrapper {
        gap: 5px;
    }

    .scrolling-snap {
        flex: 0 0 calc(50% - 20px);
    }

    /* testimonial card  */

    .testimonial__card {
        flex: 0 0 100%;
    }

    /* testimonial card  */


    /* case study END  */

    /*Section Faq START */
    .faq__block-left {
        max-width: 425px;
    }

    .heading__sub-title {
        font-size: 42px;
    }

    .accordion__question {
        gap: 20px;
    }

    /*Section Faq End */

    /* news letter START */

    .news-letter-content-header {
        max-width: 480px;
    }

    /* news letter END */

    /* blog START */

    .blog__sub--title {
        font-size: 36px;
    }

    /* blog END */





    /*Section Footer Start */
    .footer__menu-container {
        flex-wrap: wrap;
        column-gap: 160px;
        row-gap: 80px;
        padding: 100px 100px 0px 120px;
    }

    .footer__link-title {
        margin: 0 0 25px 0;
    }

    .footer__menu-links-ul li {
        padding: 0 0 22px 0;
    }

    .footer__link-title--align-right {
        text-align: right;
    }

    .footer__menu-links-ul--align-right li {
        text-align: right;
    }

    .footer__address--reverse {
        flex-direction: row-reverse;
        text-align: right;
    }

    .footer__address-icon--flip-horizontal {
        transform: scaleX(-1);
    }

    /* logo container */
    .footer__logo-text {
        font-size: 50px;
    }

    .footer__subtitle-wraper {
        max-width: 330px;
        margin: 35px 0 25px;
    }

    .footer__subtitle {
        font-size: 20px;
    }

    /* Menu Links */

    .footer__link-title {
        font-size: 32px;
    }

    /* Footer copyright Container */
    .footer__copyright-container {
        display: flex;
        justify-content: space-between;
        padding: 60px 50px 40px 50px;
    }

    .footer__policy-pages-link {
        gap: 40px;
    }

    /*Section Footer End */


    .footer__logo-container {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 40%;
    }

    .footer__menu-links {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 20%;
        max-width: none;
    }

    /* .footer__address-container{
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 50%;
    } */

}

/* 1024px and below */
@media (max-width: 1024px) {
.section{
    margin: 80px auto 0;
}


/*section Hero Start */

.hero__inner-placeholder {
    display: none;
}

.hero__content-holder {
    bottom: 41px;
}

.hero__title{
    font-size: 48px; 
} 

.hero__title-span {
    padding: 0 10px 12px 0;
    border-radius: 0 0 16px 0;
}

.hero__review-chip{
    max-width: 220px;
    column-gap: 5px;
    padding: 7px 10px;
    margin: 0 0 5px 0;
}
.hero__review-chip-inner{
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.hero__rating{
    font-size: 22px;

}
.hero__rating-img{
    max-width: 14px;
    max-height: 14px;
}

/* Curve Icon Positioning */
.hero__curve-icon-top-right{
    bottom: 241px;
    left: 578px;
}
.hero__curver-icon-top{
    bottom: 173px;
    left: 452px;
}

.hero__curve-icon-middle{
    bottom: 115px;
    left: 232px;
}
.hero__curve-icon-bottom{
    bottom: 58px;
    left: 105px;
}

.hero__curve-icon-bottom-1024{
    display: block;
    position: relative;
    bottom: 28px;
    left: 0px;
}

.hero__button-wraper{
    border-radius: 0 0 16px 0;
    display: flex;
    justify-content: start;
    max-width: 162px;
    height: 60px;
}

.hero__image img {
    border-radius: 16px;
}
/*section Hero End */  


    /*section Infinity logo Slider Start */
    .section-infinity-logo-slider {
        margin: 80px auto 0;
    }

    .logo-slider__logos img {
        width: 150px;
        margin: 0 30px;
    }

    /*section Infinity logo Slider End */

    .main {
        padding-left: 3vw;
        padding-right: 3vw;
    }

    /* Portfolio START  START*/

    .title {
        font-size: 20px;
    }

    .sub__title {
        font-size: 36px;
    }

    .mini__title {
        font-size: 14px;
    }

    .card__header {
        font-size: 28px;
    }

    .card__title {
        margin-top: 20px;
    }

    .card__header {
        margin-top: 5px;
    }

    /* Portfolio START  END*/

    /* case study START */

    .scrolling-snap {
        flex: 0 0 calc(50% - 20px);
    }

    /* case study END */

    /*Section Faq START */
    .faq__block-left {
        max-width: 100%;
    }

    .faq__container {
        display: flex;
        flex-direction: column;
    }

    .heading__sub-title {
        font-size: 36px;
    }

    .accordion__question {
        padding: 20px;
        border-radius: 16px;
    }

    .accordion__item.active .accordion__question {
        border-radius: 16px 16px 0 0;
    }

    .accordion__answer {
        padding: 0 20px 20px;
        border-radius: 0 0 16px 16px;
    }

    /*Section Faq End */

    /* ================testimonial START================ */

    .testimonial__card {
        flex: 0 0 100%;
    }

    /* ================testimonial END================ */

    /* case study START */

    .slider__button {
        background-color: #7CE3AC;
    }

    .mini__title--container {
        gap: 10px;
    }

    /* case study END */

    /* blog section START */

    .blog__container {
        flex-direction: column;
    }

    .section__header-container--blog {
        max-width: 100%;
        flex-direction: row;
        align-items: flex-end;
        margin-top: 0;
    }

    .blog__content--wrapper {
        margin-top: 40px;
    }

    .blog-content-card-para {
        font-size: 20px;
    }

    /* blog section END */

    /* news letter START */

    .news-letter-content-header {
        max-width: 475px;
        font-size: 42px;
    }

    .blog__card--container {
        max-width: 100%;
    }

    /* news letter END */



    /* ================Service Page START================ */

    .container-list-and-image,
    .container-list-and-image.black-bg {
        flex-direction: column;
        order: 1;
        transition: all 0.3s ease;
    }

    .container-list-wrapper {
        order: 2;
        margin-left: auto;
        margin-right: auto;
        transition: all 0.3s ease;
    }

    .container-list-and-image {
        gap: 40px;
        margin-top: 30px;
    }

    .service-cart-image-wrapper,
    .service-cart-arrow-icon-wrapper {
        opacity: 1 !important;
        visibility: visible !important;
        position: static;
        width: 20px;
        margin-right: 10px;
    }

    .container-list {
        gap: 20px;
    }

    .container-list a {
        transform: none !important;
        margin-left: 0;
    }

    .service-cart-image,
    .service-cart-image-arrow {
        width: 30px;
    }

    .service-cart-arrow-icon-wrapper {
        margin-left: auto;
    }

    .service-cart-image,
    .service-cart-image-arrow {
        width: 30px;
    }

    .container-list a:active,
    .black-bg a:active {
        opacity: 1;
    }

    /* ================Service Page END================ */

    /* policy page START */
    .details-para-and-sub-header-wrapper {
        flex-direction: column;
    }

    .header-para-wrapper {
        flex-direction: column;
        gap: 64px;
        align-items: center;
        justify-content: center;
    }

    .container-para.header-container-para-one,
    .container-para.header-container-para-two {
        max-width: 100%;
    }

    .sub-header-list-container {
        max-width: 100%;
        width: 100%;
        position: unset;
    }

    /* policy page  END */


}

@media only screen and (max-width: 992px) {

    /*section Hero Start */

/* Curve Icon Positioning */
.hero__curve-icon-top-right{
    bottom: 241px;
    left: 578px;
}
.hero__curver-icon-top{
    bottom: 173px;
    left: 452px;
}

.hero__curve-icon-middle{
    bottom: 115px;
    left: 232px;
}



/*section Hero End */   


    /* Hover Chip Responsive style Start */
    .hover-chip__bg-span {
        width: 245px;
    }

    .hover-chip__buton--hidden-mobile {
        display: none;
    }

    .hover-chip__buton--hidden-pc {
        display: block;
    }

    /* Hover Chip Responsive style End */


    /*Section Footer Start */
    .footer__menu-container {
        column-gap: 75px;
        row-gap: 80px;
        padding: 100px 80px 0px 100px;
    }

    /* Footer copyright Container */
    .footer__copyright-container {
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
        align-items: center;
        padding: 60px 30px 30px 30px;
    }

    .footer__logo-container {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 45%;
    }

    /*Section Footer End */
}

/* 768px and below */
@media (max-width: 767px) {
    .section{
    margin: 60px auto 0;
}
/*section Hero Start */

.hero__content-holder {
    bottom: 42px;
}

.hero__title{
    font-size: 40px; 
} 

.hero__button-wraper{
    height: 52px;
}
.hero__button {
    height: 40px;
}

/* Curve Icon Positioning */
.hero__curve-icon-top-right{
    bottom: 203px;
    left: 483px;
}
.hero__curver-icon-top{
    bottom: 145px;
    left: 375px;
}

.hero__curve-icon-middle{
    bottom: 97px;
    left: 188px;
}
.hero__curve-icon-bottom{
    bottom: 48px;
}
/*section Hero End */  

    /*section Infinity logo Slider Start */
    .section-infinity-logo-slider {
        margin: 60px auto 0;
    }

    /*section Infinity logo Slider End */

    /* portfolio START  */

    .sub__title {
        font-size: 28px;
    }

    .card__header {
        font-size: 20px;
    }

    .card__title {
        margin-top: 14px;
    }

    .section__card-wrapper.scrolling__card-container {
        display: flex;
        flex-direction: row;
        gap: 20px;
        overflow-x: hidden;
        scroll-snap-type: x mandatory;
    }



    .scrolling-snap {
        flex: 0 0 85%;
        scroll-snap-align: start;
    }

    .button.button__mobile--invisible {
        display: none;
    }

    .button.button__mobile--visible {
        display: inline;
        display: flex;
        text-align: center;
        margin: 40px auto 0 auto;
    }

    .slider__button--invisible {
        display: none;
    }

    .slider__button--visible {
        display: inline;
        display: flex;
        justify-content: center;
        margin-top: 0;
    }

    .blog__container .button__mobile--visible {
        margin-top: 0;
    }

    /* portfolio END */

    /* ========service card start======== */

    .section__card-wrapper {
        flex-direction: column;
        gap: 40px;
    }

    .service__container--one {
        gap: 40px;
    }

    .service__container--two {
        gap: 40px;
        margin-top: 0px;
    }



    /* Hover Chip Responsive style Start */
    .hover-chip__bg-span {
        width: 320px;
    }

    .hover-chip__buton--hidden-mobile {
        display: block;
    }

    .hover-chip__buton--hidden-pc {
        display: none;
    }

    /* Hover Chip Responsive style End */

    /* ========service card end======== */

    /* case study START */

    .circle {
        width: 30px;
        height: 30px;
    }

    .circle__arrow {
        width: 12px;
        height: 10px;
    }

    .content-card-wrapper.case-study-content-card-wrapper {
        flex-direction: column;
    }

    .mini-italic-title.semi-bold-mini-title {
        margin-left: 10px;
    }

    /* case study END */

    /* testimonial START */

    .testimonial__inner {
        padding: 46px;
    }

    .testimonial__header--container {
        margin-left: 0px;
    }

    .testimonial__card {
        flex: 0 0 100%;
    }

    /* testimonial END */

    /* blog section START */

    .blog__container--header {
        max-width: 100%;
    }

    .slider__button-container.slider__button--invisible {
        display: none;
    }

    .slider__button-container.slider__button--visible {
        display: inline;
        display: flex;
        margin-top: 30px;
    }

    .blog-content-card-para {
        font-size: 16px;
    }

    /* blog section END */

    /* news letter START */

    .news__letter--container {
        padding: 50px 20px;
    }

    .news-letter-content-header {
        max-width: 360px;
    }

    .check__list--container {
        display: none;
    }

    /* news letter END */


    /* service page START */

    .hero-title-wrap {
        transition: all 0.3s ease;
        padding: 60px 15px 40px;
    }

    /* service page END */

    /* portfolio details page START */

    .details-wrapper.service-wrapper {
        flex-direction: column;
    }

    .aside-section {
        max-width: 100%;
    }

    .aside-wrapper {
        flex-direction: row;
        gap: 30px;
        margin-top: 0;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .aside-btn {
        width: 100%;
    }

    .aside-para-wrapper {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .aside-option-wrapper {
        align-items: flex-start;
    }

    /* portfolio details page END */


    /*Section Footer Start */
    .o7-section-footer {
        border-radius: 16px;
        margin-bottom: 40px;
    }

    .footer__menu-container {
        justify-content: center;
        column-gap: 125px;
        row-gap: 60px;
        padding: 100px 80px 0px 80px;
    }

    .footer__logo-container {
        align-items: center;
    }

    .footer__subtitle {
        text-align: center;
    }

    .footer__link-title--align-right {
        text-align: left;
    }

    .footer__link-title--align-center {
        text-align: center;
    }

    .footer__menu-links-ul--align-right li {
        text-align: left;
    }

    .footer__address--reverse {
        flex-direction: row;
        text-align: left;
    }

    .footer__address-icon--flip-horizontal {
        transform: scaleX(1);
    }


    .footer__logo-text {
        font-size: 50px;
    }

    .footer__menu-links-ul li {
        padding: 0 0 20px 0;
    }

    .footer__menu-links-ul li a {
        font-size: 20px;
    }

    .footer__policy-pages-link li a {
        font-size: 14px;
    }

    /* Footer copyright Container */
    .footer__copyright-container {
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
        align-items: center;
        padding: 60px 30px 30px 30px;
    }

    .footer__link-title--align-right-mobile {
        text-align: right;
    }

    .footer__menu-links-ul--align-right-mobile {
        text-align: right;
    }

    .footer__logo-container {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 70%;
    }

    /*Section Footer End */
}

/* 576px and below */
@media (max-width: 576px) {
    .section{
    margin: 60px auto 0;
}


/*section Hero Start */
.hero__content-holder {
    bottom: 41px;
}

.hero__title{
    font-size: 24px; 
} 

.hero__title-span--mobile{
    padding: 0 20px 10px 0px;
    border-radius: 0 0 16px 0;
}

.hero__button-wraper{
    max-width: 128px;
    height: 50px;
}

.hero__button {
    width: 120px;
    height: 32px;
    padding: 14px 15px;
    margin-top: 10px;
}



/* Curve Icon Positioning */
.hero__curve-icon-top-right{
    bottom: 144px;
    left: 294px;
}
.hero__curver-icon-top{
    bottom: 105px;
    left: 222px;
}

.hero__curve-icon-middle{
    bottom: 76px;
    left: 112px;
}
.hero__curve-icon-bottom{
    bottom: 50px;
    left: 71px;
}
/*section Hero End */ 

    /*section Infinity logo Slider Start */
    .logo-slider__logos img {
        width: 100px;
        margin: 0 15px;
    }

    /*section Infinity logo Slider End */

    .main {
        padding-left: 15px;
        padding-right: 15px;
    }

    /* Portfolio START  */

    .upper-right-corner-arrow {
        width: 18px;
        height: 16px;
    }

    .arrow-wrapper {
        width: 35px;
        height: 35px;
        top: 20px;
        right: 20px;
    }

    .content-header {
        font-size: 28px;
    }

    .scrolling-snap {
        flex: 0 0 100%;
        scroll-snap-align: start;
    }

    .title {
        font-size: 16px;
    }

    /* Portfolio END  */

    /* ========service card start======== */

    .service-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }

    .mini-title-and-header-wrap {
        align-items: center;
    }

    .service-header-and-btn-wrap {
        flex-direction: column;
        gap: 40px;
    }

    .content-header {
        text-align: center;
        max-width: 29.6rem;
    }

    /* Hover Chip Responsive style Start */
    .hover-chip__bg-span {
        width: 245px;
    }

    .hover-chip__buton--hidden-mobile {
        display: none;
    }

    .hover-chip__buton--hidden-pc {
        display: block;
    }

    /* Hover Chip Responsive style End */

    /* ========service card end======== */

    /*Section Faq START */
    .faq__block-left {
        max-width: 300px;
    }

    .heading__title {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 5px;
    }

    .heading__sub-title {
        font-size: 28px;
    }

    .accordion__question {
        padding: 20px;
        border-radius: 16px;
    }

    .accordion__question-text {
        font-weight: 500;
        font-size: 20px;
    }

    .accordion__answer-text {
        font-size: 16px;
        font-weight: 400;
    }

    .accordion__icon {
        width: 30px;
        height: 30px;
    }

    .button {
        width: 140px;
        padding: 10px 15px;
    }

    /*Section Faq End */

    /* ========Tetimonial START======== */

    .testimonial__inner {
        padding: 20px 15px;
    }

    .testimonial__card {
        padding: 30px 30px;

    }

    /* ========Tetimonial END======== */

    /* case study START */

    .mini-title-wrapper {
        align-items: flex-start;
        margin-top: 36px;
    }

    .mini-italic-title.semi-bold-mini-title {
        margin-left: 5px;
    }

    /* case study END */

    /* blog section START */

    .service-header-and-btn-wrap.blog-header-and-btn-wrap {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    /* blog section END */

    /* news letter START */

    .check-list-wrapper {
        justify-content: start;
        flex-wrap: wrap;
        align-items: center;
    }

    /* news letter END */

    /*Section Footer Start */
    .footer__menu-container {
        justify-content: space-around;
        column-gap: 40px;
        row-gap: 60px;
        padding: 50px 20px 0px 20px;
    }

    /* Icon chip */
    .footer__icon-chip-bg-icon {
        left: 50px;
    }

    .footer__icon-chip-bg-span {
        width: 50px;
        height: 335px;
    }

    .footer__icon-chip-icon-wraper {
        display: flex;
        flex-direction: column;
        gap: 12px;
        position: absolute;
        top: 10px;
        left: 0px;
    }

    .footer__icon-chip-icon-box {
        width: 42px;
        height: 42px;
    }


    /* Back to top Button */
    .footer__button-chip {
        display: none;
    }

    .footer__policy-pages-link {
        display: flex;
        gap: 25px;
        margin: 0;
        padding: 0;
    }

    .footer__logo-container {
        margin-left: 40px;
    }

    .footer__logo-text {
        font-size: 38px;
    }

    .footer__subtitle {
        font-size: 20px;
        line-height: 30px;
    }

    /* Footer copyright Container */
    .footer__copyright-container {
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
        align-items: center;
        padding: 60px 10px 30px 10px;
    }

    .footer__link-title--align-right-mobile {
        text-align: right;
    }

    .footer__menu-links-ul--align-right-mobile {
        text-align: right;
    }


    .footer__copyright {
        flex-direction: column;
        gap: 5px;
    }

    /*Section Footer End */


    /* ================Service Page START================ */

    .hero-title-wrap {
        padding: 60px 10px 15px;
    }

    /* ================Service Page END================ */
}
