
/* index file over  */

.o7-content-card__image {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 25px;
}

.o7-content-card__image--height-portfolio {
    max-height: 460px;
}

.o7-content-card__image--height-case-study {
    max-height: 682px;
}

.o7-content-card__circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -60px;
    right: -60px;
    transition: all 0.5s ease;
}

.o7-content-card:hover .o7-content-card__circle {
    top: 50px;
    right: 50px;
}

/* testimonial */

.o7-testimonial__client--nameplate {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

h3.o7-testimonial__client--name-wrapper {
    margin: 0;
    font-size: 20px;
}

.o7-testimonial__client--name {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0;
}

.o7-testimonial__blockquote {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    margin: 0;
}
/* testimonial */


/* blog */

.o7-blog-section__card-container {
    max-width: 70%;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}


.o7-content-card--blogs {
    max-width: 520px;
    flex: 0 0 auto;
    scroll-snap-align: start;
}

.o7-section-blog-header {
    max-width: 450px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

/* blog */

@media (max-width: 1024px) {
    .o7-content-card__image {
        border-radius: 16px;
    }

    .o7-content-card__circle {
        width: 40px;
        height: 40px;
        top: 30px;
        right: 30px;
    }

    .o7-content-card__circle--arrow {
        width: 16px;
        height: 20px;
    }
}

/* index file over  */
