/* ============== Privacy Policy, Terms of Use, DSAR START============== */

.o7-stepper img {
    max-width: 100%;
    height: auto;
    display: block;
}

.o7-stepper__header-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.o7-stepper__article-wrapper {
    max-width: 1000px;
    display: block;
    margin: 0;
    padding: 0;
}

.o7-stepper__page-header {
    font-size: 36px;
    font-weight: 600;
    line-height: normal;
    color: #202020;
}

.o7-stepper__subtitle {
    max-width: 1440px;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.08px;
    color: #202020;
}

.o7-stepper-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.o7-stepper-intro {
    display: flex;
    gap: 64px;
}

.o7-stepper-intro__text {
    font-size: 16px;
    font-weight: 500;
    color: #787878;
}

.o7-stepper-intro__text-one {
    max-width: 530px;
}

.o7-stepper-intro__text-two {
    max-width: 560px;
}

.o7-stepper-article__para-title {
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    color: #202020;
    margin-top: 50px;
    margin-bottom: 0;
    scroll-margin-top: 50px;
}

.o7-stepper-article__para-title--first {
    margin-top: 0;
}

.o7-stepper-article__para {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    color: #787878;
    margin-top: 20px;
}

.o7-stepper__sidebar {
    max-width: 350px;
    width: 100%;
    flex-shrink: 0;
    position: sticky;
    top: 50px;
    align-self: flex-start;
}

.o7-stepper__nav {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.o7-stepper__nav-item {
    padding: 14px 0;
    border-bottom: 0.5px solid #C7C7C7;
}

.o7-stepper__nav-item a {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.3px;
    color: #202020;
    text-decoration: none;
    transition: all 0.3s ease;
    display: flex;
    align-items: stretch;
    gap: 8px;
}

.o7-stepper__nav-item a:hover {
    text-decoration: none;
}

.o7-stepper__nav-bullet--white {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #f5f5f5;
    border: 0.5px solid #7CE3AC;
    display: flex;
    flex-shrink: 0;
    margin-top: 5px;
}


.o7-stepper__nav-item.o7-stepper__nav-item--active {
    background-color: transparent;
}

.o7-stepper__nav-item.o7-stepper__nav-item--active .o7-stepper__nav-bullet--white {
    background-color: #7CE3AC;
}

.o7-stepper-article__list {
    margin-top: 10px;
}

.o7-stepper-article__list-item {
    font-size: 16px;
    font-weight: 400;
    color: #787878;
    line-height: 1.6;
}

/* dsar page header */
.o7-stepper--dsar-header {
    max-width: 1600px;
    margin: 0 auto 120px auto;
}

/* dsar page header END*/

/* service details  */

.o7-stepper-service-details__hero-image {
    max-width: 1600px !important;
    width: 100%;
    margin: 0 auto 120px auto;
}

.o7-stepper__service-image {
    margin-top: 20px;
}

.o7-stepper-service-details__sidebar {
    max-width: 450px;

}

.o7-stepper-service-details__nav-item a {
    font-size: 20px;
}

.o7-stepper-service-details__para {
    font-size: 20px;
    font-weight: 400;
    color: #202020;
    margin-top: 20px;
}

.o7-stepper-service-details__article-title {
    font-size: 32px;
    font-weight: 500;
    color: #202020;
    margin-top: 80px;
}

.o7-stepper-service-details__list {
    margin-top: 20px;
}

.o7-stepper-service-details__list-item {
    font-size: 20px;
    font-weight: 400;
    color: #202020;
    line-height: 1.7;
}

.o7-stepper-service-details__article-wrapper {
    max-width: 1060px;
    min-width: 575px;
}

/* service details END */

/* Privacy Policy, Terms of Use, DSAR responsive START */

@media (max-width: 1024px) {

    .o7-stepper-wrapper {
        flex-direction: column;
        gap: 80px;
    }

    .o7-stepper__subtitle {
        font-size: 28px;
        line-height: 40px;
        letter-spacing: 0.20px;
        color: #202020;
    }

    .o7-stepper__intro {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .o7-stepper__header-content {
        gap: 30px;
    }

    .o7-stepper__article-wrapper {
        gap: 24px;
    }

    .o7-stepper-intro {
        flex-direction: column;
        gap: 20px;
    }

    .o7-stepper-intro__text-one,
    .o7-stepper-intro__text-two {
        max-width: 100%;
    }

    .o7-stepper__sidebar {
        max-width: 100%;
        width: 100%;
        position: unset;
    }

    /* service details  */

    .o7-stepper-service-details__article-wrapper {
        max-width: 100%;
        min-width: 100%;
    }

    .o7-stepper-service-details__hero-image {
        margin: 0 auto 50px auto;
    }

    .o7-stepper-service-details__article-title {
        margin-top: 50px;
    }

    .o7-stepper-service-details__article-title {
        font-size: 26px;
    }

    .o7-stepper-service-details__list {
        padding-left: 22px;
    }

    /* service details END */
}

@media (max-width: 576px) {

    .o7-stepper__subtitle {
        font-size: 22px;
        line-height: 36px;
    }

    .o7-stepper__header-content {
        gap: 20px;
    }

    .o7-stepper__intro {
        gap: 0px;
    }

    .o7-stepper-wrapper {
        gap: 60px;
    }
}

/* Privacy Policy, Terms of Use, DSAR responsive  END */

/* ============== Privacy Policy, Terms of Use, DSAR END============== */