/* index file over  */

.o7-content-card__image {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 25px;
    object-fit: cover;
    transition: transform 0.45s ease;
}

.o7-content-card__image:hover {
    transform: scale(1.05);
}

.o7-content-card__circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -60px;
    right: -60px;
    transition: all 0.5s ease;
}

.o7-content-card:hover .o7-content-card__circle {
    top: 50px;
    right: 50px;
}

.o7-content-card__image-wrapper {
    border-radius: 25px;
    overflow: hidden;
}



/* testimonial */

.o7-testimonial__client-nameplate {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.o7-testimonial__client-name-wrapper {
    margin: 0;
    font-size: 20px;
}

.o7-testimonial__client-name {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0;
}

.o7-testimonial__blockquote {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    margin: 0;
}

/* testimonial */


/* blog */

.o7-blog-section__card-container {
    max-width: 70%;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}


.o7-content-card--blogs {
    max-width: 520px;
    flex: 0 0 auto;
    scroll-snap-align: start;
}

.o7-section-blog-header {
    max-width: 450px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

/* blog */

@media (max-width: 1024px) {
    .o7-content-card__image {
        border-radius: 16px;
    }

    .o7-content-card__circle {
        width: 40px;
        height: 40px;
        top: 30px;
        right: 30px;
    }

    .o7-content-card__circle-arrow {
        width: 16px;
        height: 20px;
    }
}

/* index file over  */


/* Get a Quote START */

.o7-get-the-quote__container-title {
    display: none;
}

.o7-get-the-quote__content-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.o7-get-the-quote__form-details-container {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}

.o7-get-the-quote__form-title {
    font-size: 56px;
    font-weight: 500;
    margin-bottom: 20px;
}

.o7-get-the-quote__info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.o7-get-the-quote__address-wrapper {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.o7-get-the-quote__address-icon {
    width: 25px;
    height: 25px;
}

.o7-get-the-quote__location {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
}

.o7-get-the-quote__address {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

/* form START */

.o7-get-the-quote-form {
    max-width: 980px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.o7-get-the-quote__input-label {
    font-size: 16px;
    font-weight: 700;
    color: #202020;
}

.o7-get-the-quote__input-field-wrapper {
    max-width: 980px;
}

.o7-get-the-quote__full-width {
    width: 100%;
}

.o7-get-the-quote__input-row-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 25px;
}

.o7-get-the-quote__input-wrapper {
    max-width: 50%;
    width: 100%;
}

.o7-get-the-quote__prepend-input-wrapper {
    display: flex;
    align-items: center;
}

.o7-input-group-prepend {
    max-width: 80px;
}

.o7-get-the-quote__country-code-select {
    max-width: 40px;
    font-size: 14px;
    font-weight: 400;
    color: #787878;
    border: none;
    background-color: #EBEBEB;
}

.o7-get-the-quote__input-url,
.o7-get-the-quote__input-cash {
    border-radius: 8px 0 0 8px;
}

.o7-get-the-quote__input-website,
.o7-get-the-quote__input-budget,
.o7-get-the-quote__input-phone-number {
    border-radius: 0 8px 8px 0;
}

.o7-get-the-quote__select-service {
    width: 100%;
    padding: 14px 20px;
    border-radius: 8px;
    border: 1px solid #C7C7C7;
    background-color: #f5f5f5;
    font-size: 16px;
    font-weight: 400;
    color: #787878;
}

.o7-get-the-quote__input-cash-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.o7-get-the-quote__cash-input-wrapper {
    max-width: 43%;
}

.o7-get-the-quote__budget-text {
    font-size: 16px;
    font-weight: 400;
    color: #787878;
}

.o7-get-the-quote__input-date {
    font-size: 16px;
    font-weight: 400;
    color: #787878;
}

.o7-get-the-quote__select-country {
    width: 100%;
    padding: 14px 20px;
    border-radius: 8px;
    border: 1px solid #C7C7C7;
    background-color: #f5f5f5;
    font-size: 16px;
    font-weight: 400;
    color: #787878;
}

.o7-get-the-quote__input-file {
    font-size: 10px;
    color: #787878;
}

.o7-get-the-quote__input-text {
    width: 100%;
    min-height: 120px;
    font-size: 16px;
    font-weight: 400;
    color: #787878;
    background-color: #f5f5f5;
    border: 1px solid #C7C7C7;
    border-radius: 8px;
    resize: none;
    margin-bottom: 25px;
    padding: 14px 20px;
}

.o7-get-the-quote__text-area-wrapper {
    margin-top: 25px;
}

.o7-get-the-quote__contact {
    display: none;
}

/* get the qout responsive START */

@media (max-width: 1400px) {

    .o7-get-the-quote__form-details-container {
        max-width: 330px;
    }

    .o7-get-the-quote__form-title {
        font-size: 36px;
    }

}

@media (max-width: 1200px) {

    .o7-get-the-quote__content-container {
        flex-direction: column-reverse;
    }

    .o7-get-the-quote__form-title {
        display: none;
    }

    .o7-get-the-quote-form {
        max-width: 100%;
    }

    .o7-get-the-quote__input-field-wrapper {
        max-width: 100%;
    }

    .o7-get-the-quote__form-details-container {
        max-width: 100%;
        margin-top: 50px;
        flex-direction: row;
        justify-content: space-between;
    }

    .o7-get-the-quote__form-wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .o7-get-the-quote__container-title {
        display: inline;
        font-size: 56px;
        font-weight: 400;
    }

    .o7-get-the-quote__input-row-wrapper {
        flex-direction: column;
        gap: 0;
        margin-top: 0;
    }

    .o7-get-the-quote__input-wrapper {
        max-width: 100%;
        margin-top: 16px;
    }

    .o7-get-the-quote__cash-input-wrapper {
        max-width: 100%;
        width: 100%;
    }

    .o7-get-the-quote__info {
        max-width: 33.33%;
        width: 100%;
    }

    .o7-get-the-quote__contact {
        display: inline;
    }

}

@media (max-width: 1024px) {

    .o7-get-the-quote__cash-input-wrapper {
        width: 100%;
    }

    .o7-input-group-text {
        padding: 14px 20px;
    }
}

@media (max-width: 767px) {

    .o7-get-the-quote__form-details-container {
        flex-direction: column;
    }

    .o7-get-the-quote__info {
        max-width: 100%;
        width: 100%;
    }
}

@media (max-width: 576px) {

    .o7-get-the-quote__container-title {
        max-width: 346px;
        font-size: 32px;
    }

    .o7-get-the-quote__input-cash-wrapper {
        gap: 10px;
    }

    .o7-input-group-text {
        padding: 14px 10px;
    }
}

/* Get a Quote END */


/* contacu us details START */

.o7-contact-us__form-address-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    padding: 80px 135px;
    background-color: #FFFFFF;
    border-radius: 25px;
}

.o7-contact-us__address-wrapper {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.o7-contact-us__header {
    font-size: 56px;
    font-weight: 500;
    margin-bottom: 20px;
}

.o7-contact-us__form-address-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.o7-contact-us__form-address-content {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.o7-contact-us__form-icon {
    width: 25px;
    height: 25px;
}

.o7-contact-us__form-address {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

.o7-contact-us__form-address-header {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
}

/* contacu us details END */

/* contact us form START */

.o7-contact-us__header--tablet {
    display: none;
}

.o7-contact-us__form-wrapper {
    max-width: 610px;
    width: 100%;
}

.o7-contact-us-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.o7-contact-us__input-field {
    width: 100%;
}

.o7-contact-us__input-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.o7-contact-us__input-wrapper--col-two {
    width: 50%;
}

.o7-contact-us__message-input {
    min-height: 120px;
    font-size: 16px;
    font-weight: 400;
    color: #787878;
    resize: none;
}

.o7-contact-us__whatsapp-optional {
    font-weight: 300;
}

/* contact us form END */

/* contact us responsiv */

@media (max-width: 1400px) {

    .o7-contact-us__form-address-wrapper {
        padding: 80px;
    }

    .o7-contact-us__address-wrapper {
        max-width: 330px;

    }

    .o7-contact-us__header {
        font-size: 36px;
    }
}

@media (max-width: 1200px) {

    .o7-contact-us__form-address-wrapper {
        padding: 40px;
    }
}

@media (max-width: 1024px) {

    .o7-contact-us__form-address-wrapper {
        flex-direction: column-reverse;
        gap: 50px;
        padding: 80px;
    }

    .o7-contact-us__header {
        display: none;
    }

    .o7-contact-us__header--tablet {
        display: inline;
        font-size: 48px;
        margin-bottom: 30px;
    }

    .o7-contact-us__form-wrapper {
        max-width: 100%;
    }

    .o7-contact-us-form {
        margin-top: 50px;
    }

    .o7-contact-us__form-address-content-wrapper {
        max-width: 33.33%;
        width: 100%;
        gap: 15px;
    }

    .o7-contact-us__address-wrapper {
        max-width: 100%;
        flex-direction: row;
        gap: 24px;
    }
}

@media (max-width: 767px) {

    .o7-contact-us__form-address-wrapper {
        padding: 50px;
    }

    .o7-contact-us__input-container {
        flex-direction: column;
    }

    .o7-contact-us__input-wrapper--col-two {
        width: 100%;
    }

    .o7-contact-us__form-address-content-wrapper {
        max-width: 100%;
    }

    .o7-contact-us__address-wrapper {
        flex-direction: column;
    }


}

@media (max-width: 576px) {

    .o7-contact-us__form-address-wrapper {
        padding: 20px;
        border-radius: 16px;
    }

    .o7-contact-us__header--tablet {
        font-size: 26px;
    }

    .o7-contact-us__input-container {
        gap: 10px;
        align-items: baseline;
    }

    .o7-contact-us__whatsapp-optional {
        font-size: 14px;
    }

    .o7-input-field {
        padding: 10px 8px;
    }
}