/* font family (manrope and roboto linkup) */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


html {
    scroll-behavior: smooth;
}

body {
    font-family: "Manrope", "Roboto", sans-serif;
}

.main {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    scroll-margin-top: 160px;
}

/* HOME PAGE START */
.section {
    max-width: 1600px;
    margin: 120px auto 0;
}

/*Section Hero START */
.section-hero {
    max-width: 1600px;
}

.hero__inner {
    display: flex;
    position: absolute;
    top: 20px;
    z-index: 1;   
}

.hero__content-wraper {
    position: absolute;
    z-index: 1;
    top: 0;
    padding: 0 20px 0;
}

.hero__review-chip {
    max-width: 281px;
    border: 1px solid #202020;
    border-radius: 50px;
    display: flex;
    column-gap: 10px;
    padding: 12px 28px;
}

.hero__review-chip-inner {
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.hero__rating {
    font-size: 32px;
    font-weight: 500;
    line-height: 76%;
    color: #202020;
}

.hero__rating-img {
    max-width: 17px;
    max-height: 17px;
}

.hero__review-text {
    font-size: 14px;
    font-weight: 400;
    color: #202020;   
}

.hero__title {
    font-size: 76px;
    font-weight: 400;
    line-height: 120%;
    font-family: "Roboto", sans-serif;
    color: #202020;   
    margin-bottom: 10px; 
}

.hero__button {
    width: 187px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 14px 30px;
    color: #202020;
    background-color: #7CE3AC;
    border-radius: 25px;
    border: none;
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease;
}

.hero__curve-container-one {
    position: relative;
    top: 80px;
}

.hero__curve-container-image-one {
    max-width: 205px;
}

.hero__curve-container-two {
    position: relative;
    top: 89px;
}

.hero__image img {
    width: 100%;
    border-radius: 25px;
}

/*Section Hero End */

/*Section Logo Slider START */
.section-infinity-logo-slider {
    margin: 120px auto 0;
}

.logo-slider {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.logo-slider::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    background: linear-gradient(to left, rgba(245, 245, 245, 0.2), #f5f5f5);
    backdrop-filter: blur(5px);
    content: "";
    z-index: 2;
}

.logo-slider::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 100%;
    background: linear-gradient(to right, rgba(245, 245, 245, 0.2), #f5f5f5);
    backdrop-filter: blur(5px);
    content: "";
    z-index: 2;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.logo-slider__logos {
    display: inline-block;
    animation: 20s slide infinite linear;
}

.logo-slider__logos img {
    width: 200px;
    margin: 0 50px;
}

.logo-slider:hover .logo-slider__logos {
    animation-play-state: paused;
}

.logo-slider__logos .logos-width-60px {
    width: 60px;
}

/*Section Logo Slider End */

/* our works START */

.title__pointer--middle {
    margin-left: 15px;
}

.card__title {
    margin: 36px 0 0 10px;
    font-size: clamp(18px, 2vw, 24px);
    font-weight: 400;
    color: #000000;
    display: flex;
    align-items: center;
}

.mini__title {
    font-size: 20px;
    font-weight: 600;
    margin-left: 5px;
}

.content__card {
    position: relative;
}

.card__image {
    width: 100%;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    right: 50px;
}

.circle__arrow {
    width: 30px;
    height: 25px;
    display: flex;
    flex-shrink: 0;
}

/* section headings card START  */

.title__card {
    display: flex;
    flex-direction: column;
}

.title {
    font-family: "Manrope", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    color: #202020;
}

.sub__title {
    font-family: "Manrope", sans-serif;
    font-size: 56px;
    font-weight: 400;
    line-height: normal;
    color: #202020;
}

.title__pointer {
    width: 10px;
    height: 10px;
    background: #7CE3AC;
    padding: 5px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
}

.header__button--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .button {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 14px 30px;
    color: #202020;
    background-color: #7CE3AC;
    border-radius: 25px;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-shrink: 0;
    margin-left: 15px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.button_arrow {
    width: 10px;
    height: 10px;
    color: #202020;
}

.button:hover {
    color: #202020;
    text-decoration: none;
    transform: scale(1.1);
} */

/* section headings card END  */

.card__header {
    max-width: 600px;
    font-size: 32px;
    font-weight: 500;
    line-height: 130%;
    margin-top: 12px;
    margin-left: 10px;
}


/* our works END */

/* solution we porvide START */

.card__container {
    display: flex;
    gap: 40px;
    margin: 40px auto 0 auto;
}

.service__container--one {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.service__container--two {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 180px;
}

/* solution we porvide END */

/* case study START */

.mini__title--container {
    display: flex;
    gap: 25px;
    align-items: center;
}

/* case study END */

/*Section Faq START */
.section-faq {
    max-width: 1600px;
}

.faq__container {
    display: flex;
    justify-content: space-between;
}

/* block Left */
.faq__block-left {
    max-width: 515px;
}

.heading__wraper {
    display: flex;
    flex-direction: column;
}

.heading__title {
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.heading__bullet-pointer {
    width: 10px;
    height: 10px;
    background: #7CE3AC;
    padding: 5px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
}

.heading__sub-title-wraper {
    display: flex;
    flex-direction: column;
}

.heading__sub-title {
    font-size: 56px;
    font-weight: 400;
    color: #202020;
    margin-bottom: 20px;
}

/*Accordion*/
.accordion {
    margin: 30px 0 0;
}

.accordion__item {
    margin-bottom: 20px;
}

.accordion__question {
    display: flex;
    justify-content: space-between;
    gap: 160px;
    align-items: center;
    cursor: pointer;
    padding: 30px;
    background-color: #E7E7E7;
    border-radius: 25px;
}

.accordion__question-text {
    font-weight: 400;
    font-size: 24px;
    margin: 0;
}

.accordion__item.active .accordion__question {
       border-radius: 25px 25px 0 0; 
}


.accordion__icon {
  transition: transform 0.3s ease;
}

.accordion__item.active .accordion__icon {
  transform: rotate(180deg);
}

.accordion__answer {
    display: none;
    padding: 0 30px 30px;
    background-color: #E7E7E7;
    border-radius: 0 0 25px 25px;
}

.accordion__answer-text {
    font-size: 20px;
    font-weight: 400;
}

.accordion__item.active .accordion__answer {
    display: block;
}


/* button    */
.button {
    width: 165px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 14px 30px;
    color: #202020;
    background-color: #7CE3AC;
    border-radius: 25px;
    border: none;
    display: flex;
    flex-shrink: 0;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 300ms ease-out 0s;
}

.button:hover {
    color: #ffffff;
    background-color: #202020;
    text-decoration: none;
    transform: scale(1.1);
}

.button:hover .button_arrow {
    filter: brightness(0) invert(1);
}


/*Section Faq End */

/* testimonial START  */

.testimonial__inner {
    background-color: #E7E7E7;
    border-radius: 20px;
    padding: 75px;
    margin: 0 auto;
}

.testimonial__header--container {
    margin-left: 75px;
}

.testimonial__card--container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    gap: 50px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.testimonial__card {
    max-width: 450px;
    width: 100%;
    padding: 50px;
    background-color: #F5F5F5;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    scroll-snap-align: start;
}

.testimonial__customer--card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonial__client--name {
    font-size: 20px;
    font-weight: 300;
    text-align: right;
    margin-bottom: 0;
}

.testimonial__client--title {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0;
    text-align: right;
}

.testimonial__para {
    margin-top: 30px;
}

.testimonial__para p {
    max-width: 290px;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
}

.testimonial__para--right-vector {
    float: right;
}

.testimonial__company--logo {
    width: 40%;
    margin-top: 50px;
}

/* testimonial END  */

/* blog START */

.blog__header--button {
    max-width: 470px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

.blog__button {
    margin-top: 20px;
}

.blog__container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.blog__card--container {
    display: flex;
    gap: 40px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.blog-header-container {
    gap: 110px;
}

.blog-content-card-para {
    max-width: 490px;
    margin: 16px 0 0 10px;
}

/* e-commerse logo effect */
.blogs__card {
    position: relative;
    flex: 0 0 auto;
    scroll-snap-align: start;
}

.blog__cms--logo {
    position: absolute;
    left: 0px;
    bottom: 192px;
    transition: all 0.3s ease;
    opacity: 0;
    z-index: 2;
    width: 80px;
    height: auto;
}

.blogs__card:hover .blog__cms--logo {
    opacity: 1;
}

/* circle button START */

.slider__button--container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 40px;
}

.slider__button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E7E7E7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.slider__button a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.aquamarine__slider {
    background-color: #7CE3AC;
}

/* circle button END */

/* blog ENd */

/* news letter START */

.news-letter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-letter-content-header {
    max-width: 635px;
    text-align: center;
    font-weight: 500;
}

.news__letter--container {
    background-color: #E7E7E7;
    border-radius: 25px;
    padding: 60px 20px;
}

.news__letter--button {
    margin-top: 30px;
}

.newsletter__form {
    position: relative;
    max-width: 400px;
    width: 100%;
}

.form__input--field {
    width: 100%;
    padding: 14px 20px 14px 50px;
    border-radius: 8px;
    background-color: #C7C7C7;
    border: none;
    height: 48px;
    box-sizing: border-box;
    margin-top: 60px;
}

.mail__svg {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 78%;
    left: 20px;
    transform: translateY(-50%);
    pointer-events: none;
    filter: invert(47%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(90%) contrast(90%);
}

.news__letter--paragraph {
    max-width: 380px;
    text-align: center;
    color: #787878;
    font-size: 14px;
    margin: 30px auto 0 auto;
}

/* check list */

.check__list--checker {
    width: 16px;
    height: 16px;
}

.check__list--poiner {
    width: 30px;
    height: 30px;
    background-color: #C7C7C7;
    text-align: center;
    border-radius: 50%;
    padding: 3px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}

.check__list--content {
    display: flex;
    gap: 10px;
    align-items: center;
}

.check__list--container {
    display: flex;
    gap: 30px;
    margin-top: 45px;
    justify-content: center;
}

/* news letter END */

/* Section Footer Start */
.section-footer {
    margin: 100px auto 0;
    max-width: 1840px;
    background-color: #202020;
    border-radius: 25px;
    margin-bottom: 40px;
}

.footer {
    position: relative;
}

/* Icon Column */
.footer__icon-column {
    position: absolute;
    top: 0px;
    left: 0px;
}

.footer__icon-wraper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 10px;

}

.footer__icon-box {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    border-radius: 50px;
}

.footer__icon-box:hover {
   background-color: #7CE3AC; 
   transition: all 300ms ease-out 0s;
}

/* Back-to-top Button */
.Footer__back-to-top {
    position: absolute;
    top: 0px;
    right: 0px;
}
.footer__back-to-top-bg-image picture{
z-index: 1;
}

.footer__back-to-top-button {
    width: 205px;
    font-size: 24px;
    font-weight: 400;
    color: #000000;   
    font-family: "Roboto", sans-serif; 
    position: absolute;
    top: 10px;
    right: 0px;
    border: none;
    height: 40px;
    background-color: #F5F5F5;
}

.footer__back-to-top-icon {
    margin-left: 15px;
}

/* Footer Menu Container */
/* logo container */
.footer__logo-container {
    display: flex;
    flex-direction: column;
}

.footer__logo-text {
    font-size: 56px;
    font-weight: 700;
    color: #F5F5F5;
    line-height: 130%;
    letter-spacing: 1px;
}

.footer__subtitle-wraper {
    max-width: 400px;
    margin: 30px 0;
}

.footer__subtitle {
    font-size: 24px;
    font-weight: 400;
    color: #F5F5F5;
    line-height: 40px;   
}

/* Menu Links */
footer {
    padding: 0 40px;
}

.footer__menu-container {
    display: flex;
    justify-content: space-between;
    padding: 130px 110px 0px 130px;
}

.footer__menu-links {
    max-width: 140px;
}

.footer__link-title {
    font-size: 36px;
    font-weight: 600;
    color: #F5F5F5;
    margin: 0 0 36px 0;
}

.footer__menu-links-ul {
    padding-left: 0px;
}

.footer__menu-links-ul li {
    list-style: none;
    padding: 0 0 25px 0;
    margin:0px;
}

.footer__menu-links-ul li a {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.4px;
    font-family: "Roboto", sans-serif;
    text-align: left;
    color: #f5f5f5;
    text-decoration: none;
}

.footer__menu-links-ul li .region{
    line-height: 30px;
}

.footer__address {
    display: flex;
    column-gap: 25px;
}

.footer__address-icon {
    width: 30px;
    height: 30px;
}

/* Footer copyright Container */
.footer__copyright-container {
    display: flex;
    justify-content: space-between;
    padding: 100px 110px 60px 130px;
}

.footer__copyright {
    display: flex;
    align-items: center;
}

.footer__copyright-text {
    font-size: 16px;
    font-style: italic;
    font-family: "Roboto", sans-serif;
    color: #f5f5f5;
    margin: 0;
}

.footer__copyright--highlight {
    font-size: 20px;
    font-weight: 500;
    color: #7CE3AC;  
    margin-right: 10px;  
}



.footer__policy-pages-link {
    display: flex;
    gap: 100px;
    margin: 0;
    padding: 0;
}

.footer__policy-pages-link li {
    list-style: none;
    margin: 0;
}

.footer__policy-pages-link li a {
    font-size: 16px;
    font-weight: 500;
    color: #f5f5f5;
    text-decoration: none;    
}

/* Section Footer End */

/* HOME PAGE END */
