/* font family (manrope and roboto linkup) */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* 
// Variables
----------------------------- */
:root {
    --primary-color: #7CE3AC;
    --primary-color-100: #E5F9EE;
    --primary-color-200: #CBF4DE;
    --primary-color-300: #B0EECD;
    --primary-color-400: #96E9BD;
    --primary-color-500: #7CE3AC;
    --primary-color-600: #63B68A;
    --primary-color-700: #4A8867;
    --primary-color-800: #325B45;
    --primary-color-900: #192D22;


    ---dark-color: #202020;
    ---white-color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Manrope", "Roboto", sans-serif;
    background-color: #f5f5f5;
}

.main {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    scroll-margin-top: 160px;
}

.section {
    max-width: 1600px;
    margin: 120px auto 0;
}
