body.style-guide-page {
    background-color: #fff;
}
.sg_header {
    padding: 20px;
    border-bottom: 1px #efefef solid;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
}

.sg_left-panel {
    position: fixed;
    height: calc(100vh - 172px);
    width: 250px;
    border-right: 1px #efefef solid;
    padding: 20px;
    top: 68px;
}

.sg_page-tile {
    font-size: 1.5rem;
    margin: 0;
}

.sg_main-container {
    padding: 95px 30px 70px 320px;
}

.sg_footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    background-color: #202020;
}

.sg_copyright {
    text-align: center;
    color: #fff;
    font-size: .875rem;
}
.sg_section-title {
    font-size: 1.5rem;
    padding: .5em 1em;
    background-color: #f9f9f9;
    margin: 0 0 30px;
    font-weight: 600;
    color: #222;
}
.sg_section {
    margin-bottom: 30px;
}

/* 
// color section
-----------------------*/

/* primay color */
.sg_color-palette-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.sg_color-palette__header {
    padding: 20px;
}
.sg_color-palette__body {
    margin-top: 10px;
}
.sg_color-palette {
    width: 300px;
}
.sg_color-palette__block {
    padding: 20px;
}
.sg_color-palette__header .sg_color-palette-title {
    font-size: 1.5rem;
    padding-bottom: 7px;
}
.primary .sg_color-palette__header {
    background-color: var(--primary-color);
    color: #222222;
}
.sg_color-palette .sg_color-palette__block.value-100 {
    background-color: var(--primary-color-100);
    color: #222222;
}
.sg_color-palette .sg_color-palette__block.value-200 {
    background-color: var(--primary-color-200);
    color: #222222;
}
.sg_color-palette .sg_color-palette__block.value-300 {
    background-color: var(--primary-color-300);
    color: #222222;
}
.sg_color-palette .sg_color-palette__block.value-400 {
    background-color: var(--primary-color-400);
    color: #222222;
}
.sg_color-palette .sg_color-palette__block.value-500 {
    background-color: var(--primary-color-500);
    color: #222222;
}
.sg_color-palette .sg_color-palette__block.value-600 {
    background-color: var(--primary-color-600);
    color: #ffffff;
}
.sg_color-palette .sg_color-palette__block.value-700 {
    background-color: var(--primary-color-700);
    color: #ffffff;
}
.sg_color-palette .sg_color-palette__block.value-800 {
    background-color: var(--primary-color-800);
    color: #ffffff;
}
.sg_color-palette .sg_color-palette__block.value-900 {
    background-color: var(--primary-color-900);
    color: #ffffff;
}

/* dark color */
.dark .sg_color-palette__header {
    background-color: var(--dark-color);
    color: #ffffff;
}

/* white color */
.white .sg_color-palette__header {
    background-color: var(--white-color);
    color: #222222;
    border: 1px #e5e3e3 solid
}

