a.main-menu__link:focus-visible {
    outline: 1px solid black;
}

.megamenu {
    position: relative;
}

.navbar a:hover,
.megamenu:hover .dropbtn {
    background-color: red;
}


.megamenu__content-wrapper {
    display: none;
    position: absolute;
    width: 100%;
    max-width: 775px;
    min-width: 775px;
    height: 390px;
    z-index: 1;
}

.megamenu__content-wrapper--service {
    left: -300px;
}

.megamenu__content {
    position: relative;
    background-color: #ffffff;
    padding: 40px;
    width: 100%;
    max-width: 775px;
    min-width: 775px;
    height: 376px;
    top: 12px;
    border-radius: 25px;
    z-index: 1;
    display: flex;
    gap: 40px;
}

.megamenu__triangle-head {
    position: absolute;
    left: 43%;
    top: 6px;
    width: 12px;
    height: 12px;
    background-color: white;
    transform: rotate(45deg);
}

.megamenu__content-container-left {
    display: flex;
    flex-direction: column;
}

.megamenu__content-container-left--service {
    width: 58.33333%;
}

.megamenu__content-container-right {
    width: calc(100% - 58.33333%);
}

.megamenu__link-card {
    display: flex;
    border-radius: 16px;
    user-select: none;
    cursor: pointer;
}

.megamenu__link-card--service {
    padding: 14px 20px;
    justify-content: space-between;
    align-items: center;

}

.megamenu__link-card--service:hover {
    background-color: #E7E7E7;
    text-decoration: none;
}

.megamenu__link-card--service:focus-within {
    outline: 2px solid black;
}

.megamenu__link-card-icon-wrapper {
    opacity: 0;
    transition: opacity;
    transition-timing-function: cubic-bezier(.135, .9, .15, 1);
    transition-duration: .9s;
}

.megamenu__link-card--service:hover .megamenu__link-card-icon-wrapper {
    opacity: 1;
}

.megamenu__link-card-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.megamenu__link-card-title {
    font-size: 16px;
    font-weight: medium;
}

.megamenu__link-card-subtitle {
    font-size: 14px;
}

.megamenu__link-card-icon {
    height: 22px;
    height: 22px;
}

.megamenu__service-view-all-title-wrapper {
    border-radius: 16px;
    padding: 20px;
    background-color: #e7e7e7;
}

.megamenu__service-view-all-title {
    font-size: 20px;
    font-weight: medium;
    margin-bottom: 10px;
}

.megamenu__service-view-all-subtitle {
    font-size: 14px;
}

/* .megamenu:hover .megamenu__content-wrapper, */
/* .megamenu:focus-within .megamenu__content-wrapper {
    display: block;
} */

/* Show on hover or focus */
/* .megamenu:hover .megamenu__content-wrapper, */
.megamenu:focus-within .megamenu__content-wrapper,
.main-menu__link:focus+.megamenu__content-wrapper {
    display: block;
}


.menu__background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.hidden{
    display: none;
}
