/* button    */
.button {
    width: 165px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 14px 30px;
    color: #202020;
    background-color: #7CE3AC;
    border-radius: 25px;
    border: none;
    display: flex;
    flex-shrink: 0;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all 300ms ease-out 0s;
}

.button:hover {
    color: #ffffff;
    background-color: #202020;
    text-decoration: none;
}

.button:hover .button_arrow {
    filter: brightness(0) invert(1);
}
